@{
    string strCookie = Common.Util.CookieUtil.GetCookieValue("WebManage", true);
    WebManager.Model.Cookie_Model cookie = null;
    if (!string.IsNullOrEmpty(strCookie))
    {
        cookie = new WebManager.Model.Cookie_Model();
        cookie = Newtonsoft.Json.JsonConvert.DeserializeObject<WebManager.Model.Cookie_Model>(strCookie);
    }
}
<!DOCTYPE html>
<html lang="metroManage">
<head>
    <meta charset="utf-8" />
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/b.min.css" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/css/g.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/project.css" />
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery.cookie.js"></script>
</head>

<!-- Body -->
<body>
    <!-- Navbar -->
    <div class="navbar bg-blue clearfix">
        <div class="navbar-inner">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="/CommodityCode/CommodityCodeList" class="navbar-brand nav-title">
                        后台信息管理
                    </a>
                </div>
                <div class="pull-right text-white margin-left-30 margin-right-30 navbar-header">
                    <span>当前用户：</span>
                    <span class="username text-yellow margin-left-10"><strong>@(cookie.UserName)</strong></span>
                    <span class="username text-yellow margin-left-10"></span>
                    <span><a class="btn-sm btn-info  cursor-p margin-left-10" onclick="ShowPwdInut()">修改密码</a></span>
                    <span><a class="btn-sm btn-info  cursor-p margin-left-10" onclick="LogOut()">退出</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container">
        <!-- Page Container -->
        @RenderBody()
        <!-- /Page Container -->
    </div>
    <!-- /Main Container -->
    <!-- /Main Container -->
    <div id="mymodalPwd" class="modal fade in">
        <div class="modal-backdrop fade in"></div>
        <div class="modal-dialog fade in">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <h4 class="modal-title pull-left" id="hTitle" uId="">修改密码</h4>
                    <a class="pull-right close" id="closemymodal" onclick="closePwdInput()"></a>
                </div>
                <div class="modal-body">
                    <div class="margin-bottom-10" id="divLogin_password">
                        <div class="margin-bottom-10">密码</div>
                        <input id="txtLogin_password" type="password" class="form-control gh-w-100p" placeholder="请输入密码">
                    </div>
                    <div class="margin-bottom-10" id="divConfirm_password">
                        <div class="margin-bottom-10">确认密码</div>
                        <input id="txtConfirm_password" type="password" class="form-control gh-w-100p" placeholder="请输入确认密码">
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <a class="btn-blue btn-lg" id="btnResetPassword" onclick="UpdatePassword(@(cookie.UserID))">修改密码</a>
                </div>
            </div>
        </div>
    </div>
</body>
<!--  /Body -->

</html>

<script>

    function LogOut() {
        if (confirm("是否退出")) {
            $.cookie('WebManage', '', { path: '/', expires: -1 });
            window.location.href = '/Login/Login';
        }
    }



    function closePwdInput() {
        $("#mymodalPwd").hide();
        $("#txtLogin_password").val('');
        $("#txtConfirm_password").val('');

    }

    function ShowPwdInut() {
        $("#mymodalPwd").show();
    }

    function UpdatePassword(User_id) {
        var Login_password = $("#txtLogin_password").val();
        var Confirm_password = $("#txtConfirm_password").val();

        if (Login_password != Confirm_password) {
            alert("两次输入不一致");
            return;
        }


        if (confirm("确定要修改密码?")) {
            var param = {
                id: User_id,
                password: Login_password
            }

            $.ajax({
                type: "POST",
                url: "/XT/UpdatePassword",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(param),
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("网络繁忙,请稍后再试！");
                },
                success: function (data) {
                    if (data.Code == "1") {
                        alert(data.Message);
                        closePwdInput();
                    }
                    else {
                        alert(data.Message);
                    }
                }
            });
        }
    }



 
</script>