
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="AddressListApp" ng-controller="AddressListCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/MyHome">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>地址管理</span>
        <a class="block headerRightIcon height3_2x lineHeight3_2x  whiteTex PR0_8x" href="/MyHome/AddressDetail?from=1&act=0&a=1">
            <span class="iconfont font1x MR0_4x">&#xe692;</span><span class="font09x">新增</span>
        </a>
    </div>
    <div class="MT3x MB4_8x">
        <div class="textL clearfix">
            <ul>
                <addresslist ng-repeat="x in addressList">
                    <li class="whiteBkg MB0_4x">
                        <div class="P1_1x">
                            <div class="clearfix flex-box flex-item-center">
                                <div class="width85 textL">
                                    <p class="MB0_8x">
                                        <span class="fl fontBlod width30 MR0_4x">{{x.Person}}</span>
                                        <span class="fontBlod">{{x.Phone}}</span>
                                        <isdefault ng-if="x.IsDefault == 1">
                                            <span class="ML0_4x font08x">
                                                <em class="b_Tag red_Tag MR0_4x">默认</em>
                                            </span>
                                        </isdefault>
                                    </p>
                                    <p class="font08x">
                                        {{x.ProvinceName}}{{x.CityName}}{{x.DistrictName}}{{x.Address}}
                                    </p>
                                </div>
                                <div class="width15 textR font1_1x">
                                    <a class="inlineB width100 font1_1x" href="/MyHome/AddressDetail?from=1&act=0&a=2&a1={{x.Person}}&a2={{x.Phone}}&a3={{x.ProvinceID}}&a4={{x.CityID}}&a5={{x.DistrictID}}&a6={{x.Address}}&a7={{x.IsDefault}}&a8={{x.ID}}">
                                        <i class="iconfont font1_4x grayTex">&#xe63b;</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </addresslist>
            </ul>
        </div>
    </div>
</div>
<script>
    var app = angular.module('AddressListApp', []);
    app.controller('AddressListCtrl', function ($scope, $http) {
        $scope.GetAddressList = function () {
                    $http({
                method: 'post',
                url: '/MyHome/getAddressList'
            }).success(function (req) {
                if (req.Code == "1") {
                    var addressList = $scope.addressList = [];
                    $scope.addAddressList = function () {
                        for (var i in req.Data) {
                            addressList.push({
                                ID: req.Data[i].ID, // ID
                                Person: req.Data[i].Person, // 收货人
                                Phone: req.Data[i].Phone, // 联系电话
                                IsDefault: req.Data[i].IsDefault, // 是否默认
                                ProvinceName: req.Data[i].ProvinceName, // 省
                                CityName: req.Data[i].CityName, // 市
                                DistrictName: req.Data[i].DistrictName, // 区
                                Address: req.Data[i].Address, // 详细地址
                                ProvinceID: req.Data[i].ProvinceID, // 省ID
                                CityID: req.Data[i].CityID, // 市ID
                                DistrictID: req.Data[i].DistrictID // 区ID
                            });
                        }
                    };
                    $scope.addAddressList();
                } else {
                    //swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
        $scope.GetAddressList();
    });
</script>
