
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="ConfirmRealNameApp" ng-controller="ConfirmRealNameCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/Setting">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>实名认证</span>
    </div>
    <div class="MT3x MB4_8x">
        <div class="textL clearfix">
            <p class="fl borderBox width100 P0_8x">
                <span class=" textL">请如实填写下列信息，如有更改请联系客服</span>
            </p>
            <ul class="fl width100">
                <li class="whiteBkg MB0_4x">
                    <div class="P1_1x">
                        <p class="MB1x textL flex-box">
                            <span class="inlineB width5x">姓名<br>(必填)</span>
                            <span class="inlineB width80 ML0_8x borderB">
                                <input type="text" class="borderBox P0_4x borderNone lineHeight1_5x width100" placeholder="请输入姓名" ng-model="Name">
                            </span>
                        </p>
                        <p class="MB1x textL flex-box">
                            <span class="inlineB width5x">身份证号<br>(必填)</span>
                            <span class="inlineB width80 ML0_8x borderB">
                                <input type="text" class="borderBox P0_4x borderNone lineHeight1_5x width100" placeholder="请输入身份证号" ng-model="IDNumber">
                            </span>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="fl width100 textC PT1_1x PB1_1x">
                <a class="btnSmall dy_btn blueBkg whiteTex" ng-click="NameAuthenticate()">提 交</a>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('ConfirmRealNameApp', []);
    app.controller('ConfirmRealNameCtrl', function ($scope, $http) {
        $scope.NameAuthenticate = function () {
            if (angular.isUndefined($scope.Name) || $scope.Name == "") {
                swal("请输入姓名");
                return;
            }
            if (angular.isUndefined($scope.IDNumber) || $scope.IDNumber == "") {
                swal("请输入身份证号");
                return;
            }
            $http({
                method: 'post',
                url: '/MyHome/nameAuthenticate',
                params: {
                    Name: $scope.Name,
                    IDNumber: $scope.IDNumber
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    swal({
                        text: req.Message,
                        confirmButtonText: "确定",
                    }).then(() => {
                        window.location.href = '/MyHome/Setting';
                    });
                    //swal(req.Message);
                    //window.location.href = '/MyHome/Setting';
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
    });
</script>
