
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="ExchangeVIPApp" ng-controller="ExchangeVIPCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/Myhome">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>兑换会员</span>
    </div>
    <div class="MT3x MB4_2x">
        <div class="textL clearfix">
            <p class="fl borderBox width100 P0_8x">
                <span class=" textL">您即将开通德医会员</span>
            </p>
            <ul class="fl borderBox width100 P1_1x MB0_4x whiteBkg">
                <li class="PTB0_8x clearfix flex-box">
                    <span class="fl width30">姓名(必填)</span>
                    <span class="fl width70">
                        <input class="borderInput width100" type="text" placeholder="输入姓名" ng-model="name" />
                    </span>
                </li>
                <li class="PTB0_8x clearfix flex-box">
                    <span class="fl width30">身份证号(必填)</span>
                    <span class="fl width70">
                        <input class="borderInput width100" type="text" placeholder="输入身份证号" ng-model="idNumber" />
                    </span>
                </li>
            </ul>
            <ul class="fl borderBox width100 P1_1x MB0_4x whiteBkg">
                <li class="PTB0_8x clearfix flex-box">
                    <span class="fl width30">卡号(必填)</span>
                    <span class="fl width70">
                        <input class="borderInput width100" type="text" placeholder="输入卡号" ng-model="cardNumber" />
                    </span>
                </li>
                <li class="PTB0_8x clearfix flex-box">
                    <span class="fl width30">密码(必填)</span>
                    <span class="fl width70">
                        <input class="borderInput width100" type="text" placeholder="输入密码" ng-model="passeord" />
                    </span>
                </li>
            </ul>
            <div class="fl width100 textC PT1_1x">
                <a class="btnSmall dy_btn blueBkg whiteTex" ng-click="ExchangeMember()">兑 换</a>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('ExchangeVIPApp', []);
    app.controller('ExchangeVIPCtrl', function ($scope, $http) {
        
            $http({
                method: 'post',
                url: '/MyMark/getMark'
            }).success(function (req) {
                if (req.Code == "1") {
                    $scope.name = req.Data.Name; // 姓名
                    $scope.idNumber = req.Data.IDNumber; // 身份证号
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });

        // 兑换会员
        $scope.ExchangeMember = function () {
            if (angular.isUndefined($scope.name) || $scope.name == "") {
                swal("请输入姓名");
                return;
            }
            if (angular.isUndefined($scope.idNumber) || $scope.idNumber == "") {
                swal("请输入身份证号");
                return;
            }
            if (angular.isUndefined($scope.cardNumber) || $scope.cardNumber == "") {
                swal("请输入卡号");
                return;
            }
            if (angular.isUndefined($scope.passeord) || $scope.passeord == "") {
                swal("请输入密码");
                return;
            }
            $http({
                method: 'post',
                url: '/MyHome/exchangeMember',
                params: {
                    CardNumber: $scope.cardNumber,
                    Passeord: $scope.passeord,
                    IDNumber: $scope.idNumber,
                    Name: $scope.name
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    swal({
                        text: "兑换成功",
                        confirmButtonText: "确定",
                    }).then(() => {
                        window.location.href = '/MyHome/MyHome';
                    });
                } else if (req.Code == "2") {
                    //swal(req.Message);
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
    });
</script>
