
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="MyConsultationApp" ng-controller="MyConsultationCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/ConsultationList">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>我的咨询</span>
    </div>
    <div class="fixBottom positionR whiteBkg PT0_8x PB0_4x borderT flex-box">
        <a class="PTB0_4x width100" href="/Consultation/Consultation?g={{GroupID}}">
            <span class="iconfont font1_1x MR0_4x grayTex">&#xe603;</span>
            <span class="font085x">继续咨询</span>
        </a>
    </div>
    <div class="MT3x MB4_2x">
        <div class="textL clearfix">
            <!--问诊评价-->
            <ul class="fl width100 whiteBkg">
                <consultationdetail ng-repeat="x in consultationDetail">
                    <li class="">
                        <div class="P1_1x">
                            <answer ng-if="x.OpType == 2">
                                <p class="MB0_8x font085x grayTex">
                                    <span class="">{{x.startTime}}</span><br />
                                </p>
                                <p class="MB0_8x">
                                    <span class="inlineB P0_8x width60 Square_Small_pic s_Tag lineHeight1_5x">{{x.content}}</span>
                                </p>
                            </answer>
                            <answer ng-if="x.OpType == 1">
                                <p class="MB0_8x textR font085x grayTex">
                                    <span class="">{{x.startTime}}</span><br />
                                </p>
                                <p class="MB0_8x textR">
                                    <span class="inlineB P0_8x width60 Square_Small_pic textL lineHeight1_5x" style="background: #429df1;color:#fff;">{{x.content}}</span>
                                </p>
                            </answer>
                            <imgdata ng-repeat="y in x.imgData">
                                <imgdata ng-if="y.imgFile != ''">
                                    <p class="MB0_8x textR">
                                        <a class="inlineB P0_8x width40 Square_Small_pic s_Tag lineHeight1_5x">
                                            <img class="block" src="{{y.imgFile}}" alt="" />
                                        </a>
                                    </p>
                                </imgdata>
                            </imgdata>
                        </div>
                    </li>
                </consultationdetail>
            </ul>
        </div>
    </div>
</div>
<script>
    var app = angular.module('MyConsultationApp', []);
    app.config(['$locationProvider', function ($locationProvider) {
        $locationProvider.html5Mode({
            enabled: true,
            requireBase: false,
            rewriteLinks: false
        });
    }]);
    app.controller('MyConsultationCtrl', function ($scope, $http, $location) {
        $scope.GroupID = $location.search().g;
        $scope.GetAdvisoryDetail = function () {
            $http({
                method: 'post',
                url: '/MyHome/getAdvisoryDetail',
                params: {
                    GroupID: $scope.GroupID
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    var consultationDetail = $scope.consultationDetail = [];
                    $scope.addConsultationDetail = function () {
                        for (var i in req.Data) {
                            var datalist = new Array();
                            for (var j in req.Data[i].AdvisoryIma) {
                                datalist.push({
                                    imgFile: req.Data[i].AdvisoryIma[j].Path // 图片路径
                                });
                            }
                            consultationDetail.push({
                                OpType: req.Data[i].OpType, // 内容类型
                                startTime: req.Data[i].CreatetTime, // 咨询时间
                                content: req.Data[i].Content, // 内容（咨询）
                                imgData: datalist //图片
                            });
                        }
                    };
                    $scope.addConsultationDetail();
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
        $scope.GetAdvisoryDetail();
    });
</script>
