
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="MyFavDoctorApp" ng-controller="MyFavDoctorCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/MyHome">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>关注的医生</span>
    </div>
    <div class="MT3x MB4_2x">
        <div class="textL clearfix">
            <!--医生列表-->
            <ul class="fl width100">
                <doctorlist ng-repeat="x in doctorList">
                    <li class="whiteBkg MB0_4x">
                        <div class="P1_1x clearfix flex-box flex-item-start" href="ExchangeCoin.html">
                            <div class="fl textC">
                                <div ng-if="x.imageURL == ''">
                                    <a class="grayTex MB0_8x circle_pic" href="/DoctorList/DoctorDetail?c={{x.doctorCode}}">
                                        <img src="~/assets/img/heads.jpg" />
                                    </a>
                                </div>
                                <div ng-if="x.imageURL != ''">
                                    <a class="grayTex MB0_8x circle_pic" href="/DoctorList/DoctorDetail?c={{x.doctorCode}}">
                                        <img src="{{x.imageURL}}" />
                                    </a>
                                </div>
                                <a class="b_Tag yellow_Tag font08x" ng-click="FollowOrCancel(x.doctorCode)">已收藏</a>
                            </div>
                            <a class="fl width80" style="margin-left: 4%;"  href="/DoctorList/DoctorDetail?c={{x.doctorCode}}">
                                <div class="MB0_8x">
                                    <p class="MB0_4x"><span class="fontBlod">{{x.name}}</span><span class="ML0_4x font09x">{{x.titleName}}</span></p>
                                    <p class="font09x"><span>{{x.hospitalName}}</span><span class="ML0_4x">{{x.departmentName}}</span></p>
                                </div>
                                @*<div class="font08x">
                                    <p><span class="inlineB" style="width: 4em;">好评率</span><span class="grayTex">{{x.points}}%</span></p>
                                    <p><span class="inlineB" style="width: 4em;">接诊量</span><span class="grayTex">{{x.serviceTimes}}</span></p>
                                    <div class="MT0_4x clearfix flex-box flex-justifyC-start flex-item-start">
                                        <p class="inlineB fl" style="width: 4em;"><span>专治</span></p>
                                        <p class="inlineB fl width100 font09x clearfix">
                                            <drtags ng-repeat="y in x.tagName">
                                                <span class="fl s_Tag">{{y}}</span>
                                            </drtags>
                                        </p>
                                    </div>
                                </div>*@
                            </a>
                        </div>
                    </li>
                </doctorlist>
            </ul>
        </div>
    </div>
 </div>
<script>
    var app = angular.module('MyFavDoctorApp', []);
    app.controller('MyFavDoctorCtrl', function ($scope, $http) {
        $scope.GetDoctorList = function () {
                    $http({
                method: 'post',
                url: '/MyHome/getDoctorList'
            }).success(function (req) {
                if (req.Code == "1") {
                    var doctorList = $scope.doctorList = [];
                    $scope.addDoctorlist = function () {
                        for (var i in req.Data) {
                            var tags = new Array();
                            for (var j in req.Data[i].tag) {
                                tags.push(req.Data[i].tag[j]);
                            }
                            doctorList.push({
                                doctorCode: req.Data[i].DoctorCode, // 医生基本信息表.医生编号
                                imageURL: req.Data[i].ImageURL, //医生基本信息表.照片地址
                                followFlg: req.Data[i].followFlg, //医生收藏表
                                name: req.Data[i].Name, //医生基本信息表.姓名
                                titleName: req.Data[i].TitleName, //职称信息表.职称名称
                                hospitalName: req.Data[i].HospitalName, //医院信息表.医院名称
                                departmentName: req.Data[i].DepartmentName, //科室信息表.科室名称
                                points: req.Data[i].Points * 100, //医生基本信息表.好评率
                                serviceTimes: req.Data[i].ServiceTimes, //医生基本信息表.咨询量
                                tagName: tags //标签信息表.标签名称(医生标签表.标签ID关联)
                            });
                        }
                    };
                    $scope.addDoctorlist();
                } else {
                    var doctorList = $scope.doctorList = [];
                    //swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
        // 取消收藏
        $scope.FollowOrCancel = function (id) {
            $http({
                method: 'post',
                url: '/DoctorList/followOrCancel',
                params: {
                    DoctorCode: id
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    //刷新医生信息
                    $scope.GetDoctorList();
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
        $scope.GetDoctorList();
    });
</script>
