
@{
}


<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<script src="/Scripts/jweixin-1.0.0.js"></script>
<div ng-app="MyOrderListAllApp" ng-controller="MyOrderListAllCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/MyHome">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>我的订单</span>
    </div>
    <div class="MT3x MB4_2x">
        <div class="borderBox width100 whiteBkg textC borderB PT0_4x PLR1_25x font09x flex-box flex-item-center">
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex0}" ng-click="ChangeTab(0);">
                <span ng-class="{'inlineB':inlineB0}">全部订单</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex1}" ng-click="ChangeTab(1);">
                <span ng-class="{'inlineB':inlineB1}">服务中</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex2}" ng-click="ChangeTab(2);">
                <span ng-class="{'inlineB':inlineB2}">待支付</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex3}" ng-click="ChangeTab(3);">
                <span ng-class="{'inlineB':inlineB3}">待评价</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex4}" ng-click="ChangeTab(4);">
                <span ng-class="{'inlineB':inlineB4}">售后</span>
            </a>
        </div>
        <div class="textL clearfix">
            <!--订单列表-->
            <ul class="fl width100">
                <orderlist ng-repeat="x in orderList">
                    <li class="whiteBkg MB0_4x">
                        <div class="P1_1x font09x">
                            <div class="MB1x borderB">
                                <div class="clearfix MB1x flex-box">
                                    <p class="fl width50 textL grayTex">
                                        {{x.createtTime}}
                                    </p>

                                    <p class="fr width50 textR" ng-if="x.orderAmount >= 0">
                                        <span class="grayTex">总价</span>
                                        <span class="font1_2x fontBlod redTex">{{x.orderAmount | number:2}}</span>
                                        <span class="grayTex">元</span>
                                    </p>
                                    <p class="fr width50 textR" ng-if="x.orderAmount < 0">
                                        <span class="font1_2x fontBlod redTex">议价</span>
                                    </p>
                                </div>
                            </div>
                            <p class="MB0_8x">{{x.serviceName}}</p>
                            <div class="clearfix flex-box">
                                <div class="fl textC">
                                    <div ng-if="x.imageURL == ''">
                                        <span class="grayTex MB0_8x circle_pic">
                                            <img src="~/assets/img/heads.jpg" />
                                        </span>
                                    </div>
                                    <div ng-if="x.imageURL != ''">
                                        <span class="grayTex MB0_8x circle_pic">
                                            <img src="{{x.imageURL}}" />
                                        </span>
                                    </div>
                                </div>
                                <div class="fl width80 flex-box flex-box-col flex-item-start" style="margin-left: 4%;">
                                    <p class="MB0_4x"><span class="fontBlod">{{x.doctorName}}</span><span class="ML0_4x font09x">{{x.titleName}}</span></p>
                                    <p class="font09x"><span>{{x.hospitalName}}</span><span class="ML0_4x">{{x.departmentName}}</span></p>
                                </div>
                            </div>
                            <div class="borderT PT1x flex-box">
                                <p class="">
                                    <!-- 服务状态=1:医生预约中  -->
                                    <btPayback ng-if="x.serviceStatus == 1">
                                        <span class="blueTex">医生预约中</span>
                                    </btPayback>
                                    <!-- 服务状态=2，3，4：服务进行中   -->
                                    <btPayback ng-if="x.serviceStatus == 2 || x.serviceStatus == 3 || x.serviceStatus == 4">
                                        <span class="blueTex">服务进行中</span>
                                    </btPayback>
                                    <!-- 服务状态=5:服务完成  -->
                                    <btPayback ng-if="x.serviceStatus == 5">
                                        <span class="blueTex">服务完成</span>
                                    </btPayback>
                                    <!-- 服务状态=9:服务取消  -->
                                    <btPayback ng-if="x.serviceStatus == 9">
                                        <span class="blueTex">服务取消</span>
                                    </btPayback>
                                    
                                </p>
                                <p class="textR">
                                    <!-- 1.支付状态=1：未支付 2.订单状态=1：未完成 3.实付金额 >0 -->
                                    <btPayback ng-if="x.paymentStatus == 1 && x.orderStatus == 1 && x.orderAmount > 0">
                                        <a class="btnBorderSquare btnBorder_blue blueBkg whiteTex" ng-click="PayOrder(x.orderCode)">支付</a>
                                    </btPayback>
                                    <!-- 1.支付状态=3：已支付 2.服务状态=1：预约 or 2：医生安排就绪 -->
                                    <btPayback ng-if="x.paymentStatus == 3 && (x.serviceStatus == 1 || x.serviceStatus == 2)">
                                        <a class="btnBorderSquare btnBorder_red" href="/MyHome/MyOrderList_PaybackDetail?o={{x.orderCode}}&i={{tag}}">售后</a>
                                    </btPayback>
                                    <!-- 1.评价状态=1：未评价 2.服务状态=4：服务进行中 3.支付状态=3：已支付 -->
                                    <btPayback ng-if="x.commentStatus == 1 && x.serviceStatus == 4 && x.paymentStatus == 3">
                                        <a class="btnBorderSquare btnBorder_blue" href="/MyHome/MyOrderList_CommentDetail?o={{x.orderCode}}&c={{x.doctorCode}}&i={{tag}}">评价</a>
                                    </btPayback>
                                    <!-- 1.支付状态<>1：未支付 2.服务状态=5：服务完成 -->
                                    @*<btPayback ng-if="x.paymentStatus != 1 && x.serviceStatus == 5">
                                        <a class="btnBorderSquare btnBorder_green" href="">再次购买</a>
                                    </btPayback>*@
                                    <!-- 1.支付状态=1：未支付 2.服务状态=1：预约 3.订单状态=1：未完成 -->
                                    <btPayback ng-if="x.paymentStatus == 1 && x.serviceStatus == 1 && x.orderStatus == 1">
                                        <a class="btnBorderSquare btnBorder_red" ng-click="OrderCancel(x.orderCode)">取消</a>
                                    </btPayback>
                                </p>
                            </div>
                        </div>
                    </li>
                </orderlist>
            </ul>
        </div>
    </div>
</div>
<script>
    var app = angular.module('MyOrderListAllApp', []);
    app.config(['$locationProvider', function ($locationProvider) {
        $locationProvider.html5Mode({
            enabled: true,
            requireBase: false,
            rewriteLinks: false
        });
    }]);
    app.controller('MyOrderListAllCtrl', function ($scope, $http, $location) {
        $scope.tag = $location.search().i;
        $scope.ChangeTab = function (val) {
            $scope.tag = val;
            $scope.blueTex0 = false;
            $scope.inlineB0 = false;
            $scope.blueTex1 = false;
            $scope.inlineB1 = false;
            $scope.blueTex2 = false;
            $scope.inlineB2 = false;
            $scope.blueTex3 = false;
            $scope.inlineB3 = false;
            $scope.blueTex4 = false;
            $scope.inlineB4 = false;
            if (val == 0) {
                $scope.blueTex0 = true;
                $scope.inlineB0 = true;
            };
            if (val == 1) {
                $scope.blueTex1 = true;
                $scope.inlineB1 = true;
            };
            if (val == 2) {
                $scope.blueTex2 = true;
                $scope.inlineB2 = true;
            };
            if (val == 3) {
                $scope.blueTex3 = true;
                $scope.inlineB3 = true;
            };
            if (val == 4) {
                $scope.blueTex4 = true;
                $scope.inlineB4 = true;
            };
            $scope.GetServiceOrder();
        };
        $scope.GetServiceOrder = function () {
            $http({
                method: 'post',
                url: '/Review/getServiceOrder',
                params: {
                    Flag: 2,
                    Tag: $scope.tag
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    var orderList = $scope.orderList = [];
                    $scope.addOrderlist = function () {
                        for (var i in req.Data) {
                            orderList.push({
                                createtTime: req.Data[i].CreatetTime, // 服务订单表.创建日期
                                orderAmount: req.Data[i].OrderAmount, // 服务订单表.订单金额
                                serviceName: req.Data[i].ServiceName, // 服务信息表.服务名称（服务订单表.服务编号关联）
                                imageURL: req.Data[i].ImageURL, // 医生基本信息表.照片地址（服务订单表.医生编号关联）
                                doctorName: req.Data[i].DoctorName, // 医生基本信息表.姓名（服务订单表.医生编号关联）
                                titleName: req.Data[i].TitleName, // 职称信息表.职称名称（医生基本信息表.职称ID关联）
                                hospitalName: req.Data[i].HospitalName, // 医院信息表.医院名称（医生基本信息表.医院ID关联）
                                departmentName: req.Data[i].DepartmentName, // 科室信息表.科室名称（医生基本信息表.科室ID关联）
                                orderCode: req.Data[i].OrderCode, // 服务订单表.订单编号（评价，售后页用）
                                doctorCode: req.Data[i].DoctorCode, // 服务订单表.安排医生编号（评价页用）
                                paymentStatus: req.Data[i].PaymentStatus, // 支付状态
                                serviceStatus: req.Data[i].ServiceStatus, // 服务状态
                                commentStatus: req.Data[i].CommentStatus, // 评价状态
                                orderStatus: req.Data[i].OrderStatus // 订单状态
                            });
                        }
                    };
                    $scope.addOrderlist();
                } else {
                    var orderList = $scope.orderList = [];
                    //swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        }
        $scope.ChangeTab($scope.tag);


        $scope.PayOrder = function (OrderCode) {
            $http({
                method: 'post',
                url: '/MyHome/PayServiceOrder',
                params: {
                    OrderCode: OrderCode
                }
            }).success(function (req) {
                if (req == "") {
                    swal("网络繁忙,请稍后再试！");
                } else if (req.Code == "1" && req.Data != null) {
                    $scope.order = req.Data.order;
                    $scope.jsParam = req.Data.jsParam
                    if ($scope.jsParam != "") {
                        $scope.AddPay();
                    }
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal("网络繁忙,请稍后再试！");
            });
        };

        $scope.AddPay = function () {
            if (typeof WeixinJSBridge == "undefined") {
                swal("不是微信不能支付");

            }
            else {
                $scope.onBridgeReady();
            }
        };

        $scope.onBridgeReady = function () {
            var jsModel = $scope.$eval($scope.jsParam);
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": jsModel.appId,     //公众号名称，由商户传入
                    "timeStamp": jsModel.timeStamp,         //时间戳，自1970年以来的秒数
                    "nonceStr": jsModel.nonceStr, //随机串
                    "package": jsModel.package,
                    "signType": 'MD5',         //微信签名方式:
                    "paySign": jsModel.paySign    //微信签名
                },

                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        //  $scope.cancelPay();
                    } else {
                        swal("支付成功");
                        $scope.GetServiceOrder();
                    }
                }
            );
        };

        $scope.OrderCancel = function (OrderCode) {
            $http({
                method: 'post',
                url: '/MyHome/OrderCancel',
                params: {
                    OrderCode: OrderCode
                }
            }).success(function (req) {
                if (req == "") {
                    swal("网络繁忙,请稍后再试！");
                } else if (req.Code == "1" && req.Data != null) {
                    $scope.order = req.Data.order;
                    $scope.jsParam = req.Data.jsParam
                    if ($scope.jsParam != "") {
                        swal(req.Message);
                        $scope.GetServiceOrder();
                    }
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal("网络繁忙,请稍后再试！");
            });
        };
    });
</script>
