
@{
}
<div class="header positionR blueBkg whiteTex">
    <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/MyHome">
        <span class="iconfont font1x">&#xe60a;</span>
    </a>
    <span>设置</span>
</div>
<div class="MT3x MB4_2x">
    <div class="textL clearfix">
        <ul class="fl width100 ">
            <li class="whiteBkg clearfix MB0_4x">
                <a class="fl borderBox width100 PLR1_1x PT1x PB0_8x" href="/MyHome/ConfirmRealName">
                    <div class="fl">
                        <span class="fl">实名认证</span>
                    </div>
                    <div class="textR fr">
                        <span class="iconfont grayTex">&#xe60b;</span>
                    </div>
                </a>
            </li>
            <li class="whiteBkg clearfix MB0_4x">
                <a class="fl borderBox width100 PLR1_1x PT1x PB0_8x" href="/MyHome/ModifyTel">
                    <div class="fl">
                        <span class="fl">更改登陆手机号码</span>
                    </div>
                    <div class="textR fr">
                        <span class="iconfont grayTex">&#xe60b;</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

