
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<script src="/assets/js/ng-file-upload/ng-file-upload.min.js"></script>
<script src="/assets/js/ng-file-upload/ng-file-upload-shim.min.js"></script>
<div ng-app="SubmitadviseApp" ng-controller="SubmitadviseCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHome/MyHome">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>意见反馈</span>
    </div>
    <div class="MT3x MB4_2x">
        <div class="textL clearfix">
            <!--意见反馈-->
            <ul class="fl width100">
                <li class="whiteBkg MB0_4x">
                    <div class="P1_1x">
                        <p class="font09x">
                            <textarea maxlength="200" class="borderBox width100 P0_8x border1 borderGray lineHeight1_5x" style="height: 10em;" placeholder="您的建议对我们很重要，我们会认真努力改进，未来发展需要您的提点！" ng-model="Content"></textarea>
                        </p>
                    </div>
                </li>
            </ul>
            <!--上传图片-->
            <ul class="fl borderBox width100 P1_1x MB0_4x whiteBkg">
                <li class="">
                    <div class="clearfix MR0_4x">
                        <imaList ng-repeat="x in imaList">
                            <a class="fl Square_5x_pic MR0_4x MB0_4x" ng-click="imaDelete(x.ID,x.ImageURL,x.FileName)">
                                <img src="{{x.ImageURL}}" />
                            </a>
                        </imaList>
                        <div>
                            <button class="fl Square_5x_pic MR0_4x MB0_4x" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="10000" ngf-max-size="10MB">
                                <i class="iconfont font1_8x grayTex">&#xe604;</i>
                            </button>
                        </div>
                    </div>
                    <div class="width100 font085x MT0_4x grayTex">
                        <p>添加照片(选填,最多上传3张)</p>
                        <p>点击添加照片，让我们更了解您的需求</p>
                    </div>
                </li>
            </ul>
            <div class="fl width100 textC PT1_1x">
                <a class="btnSmall dy_btn blueBkg whiteTex" ng-click="SubmitFeedback()">提交反馈</a>
            </div>
        </div>
    </div>
    <!--图片放大 弹层 开始-->
    @*<div ng-show="mymodal1" class="maskBg div">
        <div class="gpop-wapper gpop-wapper-pic">
            <div class="gpop-content">
                <div class="gpop-body box">
                    <img ng-src="{{ImaPath}}" />
                </div>
                <div class="textC MT1x">
                    <a class="btnBorderSquare btnBorder_red redBkg whiteTex" ng-click="showCheckList()"><i class="iconfont MR0_4x">&#xe661;</i>删除此图片</a>
                </div>
            </div>
        </div>
    </div>*@
    <div ng-show="mymodal1" class="maskBg div">
        <div class="gpop-wapper gpop-wapper-pic" style="top: 0;margin-top: 0;">
            <div class="gpop-content positionR">
                <div class="positionA textC MT1x" style="left: 0;top: 1em;">
                    <a class="btnBorderSquare btnBorder_gray grayBkg whiteTex" ng-click="showCheckList()"><i class="iconfont MR0_4x">&#xe661;</i>删除</a>
                </div>
                <div class="positionA MT1x" style="right: 0;top: 1em;">
                    <a class="btnBorderSquare btnBorder_gray grayBkg whiteTex" ng-click="deleteCancel()"><i class="iconfont MR0_4x">&#xe64d;</i>关闭</a>
                </div>
                <div class="gpop-body" id="gpop-body" style="max-height: 100vh; overflow-y: scroll;">
                    <img ng-src="{{ImaPath}}" />
                </div>

            </div>
        </div>
    </div> 
    <!--弹层 结束-->
    <!--删除档案提示 弹层 开始-->
    <div ng-show="mymodal2" class="maskBg div">
        <div class="gpop-wapper">
            <div class="gpop-content">
                <div class="gpop-body clearfix">
                    <div class="whiteBkg width80 MLRAuto P1_6x textC borderRad05x">
                        <p class="MB0_8x"><i class="iconfont font4x redTex">&#xe649;</i></p>
                        <p>确定删除此档案信息吗？</p>
                        <div class="textC MT2x">
                            <a class="btnBorderSquare btnBorder_gray grayBkg whiteTex PTB0_4x MR0_8x" ng-click="deleteCancel()">取消</a>
                            <a class="btnBorderSquare btnBorder_red redBkg whiteTex PTB0_4x" ng-click="deleteIma()">确 认</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--弹层 结束-->
    <!--Loading 开始-->
    <div class="maskBg" ng-if="loading">
        <div class="gpop-wapper" style="background:none">
            <div class="gpop-content">
                <div class="gpop-body clearfix">
                    <div class="width80 MLRAuto P1_6x textC">
                        <div class="typing_loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Loading 结束-->
</div>
<script>
    var app = angular.module('SubmitadviseApp', ['ngFileUpload']);
    app.controller('SubmitadviseCtrl', ['$scope', '$http', '$location', 'Upload', '$timeout', function ($scope, $http, $location, Upload, $timeout) {
        $scope.mymodal1 = false;
        $scope.mymodal2 = false;
        var imaList = $scope.imaList = [];
        $scope.deleteID;
        $scope.deletePath;
        $scope.deleteUrl;
        $scope.imageCnt = 0;
        $scope.Image1 = "";
        $scope.Image2 = "";
        $scope.Image3 = "";
        $scope.loading = false;
        $scope.uploadFiles = function (file, errFiles) {
            if ($scope.imageCnt >= 3) {
                swal("最多上传3张图片");
            } else {
                $scope.f = file;
                $scope.errFile = errFiles && errFiles[0];
                if (file) {
                    $scope.loading = true;
                    file.upload = Upload.upload({
                        url: '/Sample/FileUpload',
                        data: { file: file, type: 2 }
                    })
                    file.upload.then(function (response) {
                        $timeout(function () {
                            $scope.imageCnt = $scope.imageCnt + 1;

                            file.result = response.data;
                            var fileJson = angular.fromJson(response.data.Data)
                            if ($scope.imageCnt == 1) {
                                $scope.Image1 = fileJson.Data.ImageURL;
                            }
                            if ($scope.imageCnt == 2) {
                                $scope.Image2 = fileJson.Data.ImageURL;
                            }
                            if ($scope.imageCnt == 3) {
                                $scope.Image3 = fileJson.Data.ImageURL;
                            }
                            imaList.push({
                                ID: 0,
                                ImageURL: fileJson.Data.ImageURL, //咨询图片表.图片路径
                                FileName: fileJson.Data.FileName, //咨询图片表.文件名
                            });
                            $scope.loading = false;
                        });
                    }, function (response) {
                        if (response.status > 0)
                            $scope.errorMsg = response.status + ': ' + response.data;
                            $scope.loading = false;

                    }, function (evt) {
                        file.progress = Math.min(100, parseInt(100.0 *
                            evt.loaded / evt.total));
                    });
                };
            };
        };
        $scope.imaDelete = function (ID, path, name) {
            $scope.ImaPath = path;
            $scope.deleteID = ID;
            $scope.deletePath = path;
            $scope.deleteUrl = name;
            $scope.mymodal1 = true;
        };
        $scope.showCheckList = function () {
            $scope.mymodal2 = true;
        };
        $scope.deleteCancel = function () {
            $scope.mymodal2 = false;
            $scope.mymodal1 = false;
        };
        $scope.deleteIma = function () {
            for (var i in $scope.imaList) {
                if ($scope.deletePath == $scope.imaList[i].ImageURL) {
                    $scope.imaList.splice(i, 1);
                };
            }
            $scope.imageCnt = $scope.imageCnt - 1;
            $scope.mymodal2 = false;
            $scope.mymodal1 = false;
        };
        $scope.SubmitFeedback = function () {
            if (angular.isUndefined($scope.Content) || $scope.Content == "") {
                swal("请输入您的建议");
                return;
            }
            $http({
                method: 'post',
                url: '/MyHome/submitFeedback',
                params: {
                    Content: $scope.Content,
                    Image1: $scope.Image1,
                    Image2: $scope.Image2,
                    Image3: $scope.Image3
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    swal({
                        text: req.Message,
                        confirmButtonText: "确定",
                    }).then(() => {
                        window.location.href = '/MyHome/MyHome';
                    });
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
    }]);
</script>
