
@{
    ViewBag.Title = "Search";
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div class="MB4_2x">
    <!--搜索-->
    <ul class="fl whiteBkg width100 borderT borderB">
        <li>
            <div class="block borderBox width100 P0_8x clearfix">
                <div class="fl width100">
                    <div class="clearfix top_Search flex-box">
                        <span class="fl" style="width: 2em;"><i class="iconfont font1_2x lightgrayTex">&#xe6d8;</i></span>
                        <input class="fl width100 borderNone textL" type="text" placeholder="搜索症状/疾病/医生/科室/好物" />
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="block borderBox width100 P0_8x clearfix">
                <div class="fl width100">
                    <a class="fl s_Tag PLR0_8x ML0_8x MR0_8x" href="">医院</a>
                    <a class="fl s_Tag PLR0_8x ML0_8x MR0_8x" href="">科室</a>
                    <a class="fl s_Tag PLR0_8x ML0_8x MR0_8x" href="">找医生</a>
                    <a class="fl s_Tag PLR0_8x ML0_8x MR0_8x" href="">好物</a>
                </div>
            </div>
        </li>
    </ul>
    <!--/ 搜索-->
    <div class="textL clearfix">
        <!--内容模块-->
        <!--医生列表-->
        <ul class="fl width100">
            <li class="whiteBkg MB0_4x">
                <div class="P1_1x clearfix">
                    <div class="fl textC">
                        <a class="grayTex MB0_8x circle_pic" href="DoctorDetail.html">
                            <img src="pic/heads.jpg" />
                        </a>
                        <a class="b_Tag yellow_Tag font08x">收藏医生</a>
                    </div>
                    <div class="fl width70" style="margin-left: 4%;">
                        <div class="MB0_8x">
                            <p class="MB0_4x"><span class="fontBlod">朱晓华</span><span class="ML0_4x font09x">副主任医师</span></p>
                            <p class="font09x"><span>复旦大学附属华山医院</span><span class="ML0_4x">皮肤科</span></p>
                        </div>
                        <div class="font08x">
                            <p><span>好评率</span><span class="ML0_8x grayTex">100%</span></p>
                            <p><span>接诊量</span><span class="ML0_8x grayTex">1347</span></p>
                            <div class="MT0_4x flex-box flex-item-start">
                                <p style="width: 5em;"><span>专治</span></p>
                                <p class="font09x clearfix">
                                    <span class="fl s_Tag">湿疹</span>
                                    <span class="fl s_Tag">痤疮</span>
                                    <span class="fl s_Tag">皮炎</span>
                                    <span class="fl s_Tag">荨麻疹</span>
                                    <span class="fl s_Tag">过敏性皮炎</span>
                                    <span class="fl s_Tag">过敏性皮炎</span>
                                    <span class="fl s_Tag">过敏性皮炎</span>
                                    <span class="fl s_Tag">过敏性皮炎</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--/ 医生列表-->
        <!--/ 内容模块-->
    </div>
</div>

