<div>
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/Login/Login">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>德医服务协议</span>

    </div>
    <div class="MT3x MB4_2x">
        <div class="textL clearfix"> 
            <!--左侧10%-->
            <div class="left"></div>
            <!--中间80%-->
            <div class="middle">
                <div>
                    <b>一、总则</b>
                    <p style="text-indent:2em">1.1 用户在注册之前，应当仔细阅读本协议，并同意遵守本协议后方可成为注册用户。一旦注册成功，则自动形成协议关系，用户应当受本协议的约束。用户在使用特殊的服务或产品时，应当同意接受相关协议后方能使用。</p>
                    <b>二、服务内容</b>
                    <p style="text-indent:2em">2.1 本站仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如个人电脑、手机、及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均应由用户自行负担。</p>
                    <b>三、用户帐号</b>
                    <p style="text-indent:2em">3.1 经本站注册系统完成注册程序并通过身份认证的用户即成为正式用户，可以获得本站规定用户所应享有的一切权限；未经认证仅享有本站规定的部分会员权限。</p>
            </div>
            </div>
            <!--右侧10%-->
            <div class="right"></div>
        </div>
    </div>
</div>

<style>
    p {
        margin: 5px 0
    } 
</style>
