@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/b.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/g.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/project.css" />
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery.cookie.js"></script>
    <script src="/Scripts/Login.js"></script>
</head>
<body>
    <div class="login-area">
        <div class="logo text-align-center">
            <img style="width: 277px;" src="/assets/img/logo.jpg" alt="" />
        </div>
        <div class="row">
            <div class="col-lg-12 input-area"  >
                <div class="container input-container">
                    <input type="text" class="form-control login-input no-border-r"   id="txtUserAccount" placeholder="请输入用户名"  />
                    <input type="password" class="form-control login-input no-border-r" id="txtPassWord"  placeholder="请输入密码" />
                    <a class="btn btn-yellow" id="btnLogin" onclick="UserLogin()">登 录</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(function () {
        $("#txtUserAccount").keydown(function (event) {
            if (event.keyCode == "13") {//keyCode=13是回车键
                $("#txtPassWord").focus();
            }
        });
        $("#txtPassWord").keydown(function (event) {
            if (event.keyCode == "13") {//keyCode=13是回车键
                $("#btnLogin").click();
            }
        });

    });
</script>