
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="ReviewApp" ng-controller="ReviewCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/Home/Home">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>复查</span>
    </div>
    <div class="MT3x MB5_2x">
        <div class="textL clearfix" ng-if="count != 0">
            <!--医生详情-->
            <div class="fl width100 P0_8x">
                完成的服务
            </div>
            <ul class="fl width100">
                <orderlist ng-repeat="x in orderList">
                    <li class="whiteBkg MB0_4x">
                        <div class="P1_1x clearfix" href="ExchangeCoin.html">
                            <div class="fl textC">
                                <p class="grayTex MB0_8x circle_pic">
                                    <divimg ng-if="x.imageURL == ''">
                                        <img src="~/assets/img/heads.jpg" />
                                    </divimg>
                                    <divimg ng-if="x.imageURL != ''">
                                        <img src="{{x.imageURL}}" />
                                    </divimg>
                                </p>
                            </div>
                            <div class="fl width70" style="margin-left: 4%;">
                                <div class="MB0_8x">
                                    <p class="MB0_4x"><span class="fontBlod">{{x.doctorName}}</span></p>
                                    <p class="font09x"><span>{{x.hospitalName}}</span><span class="ML0_4x">{{x.departmentName}}</span></p>
                                </div>
                                <div class="font08x">
                                    <p><span>就医时间</span><span class="ML0_8x grayTex">{{x.serviceTime}}</span></p>
                                    <p class="MT1x">
                                        @*<a class="btnBorderSquare btnBorder_blue" href="/MyHome/MyOrderList_All?i=0">申请复诊</a>
                                        <span class="btnBorderSquare btnBorder_disabled">申请复诊</span>*@
                                    </p>
                                    <div class="MT1_1x">
                                        <span class="PLR0_8x s_Tag red_Tag font09x redTex">
                                            下次复诊申请将在本次复诊结束后,再次复诊预约
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </orderlist>
            </ul>
        </div>

        <div class="textL clearfix" ng-if="count == 0">
            <ul class="">
                <li class="whiteBkg MB0_4x">
                    <div class="P1_1x font09x" onclick="window.open('MyConsultation.html','_self')">
                        <div class="MB2x">
                            <div class="grayTex textC">
                                <i class="iconfont font8x">&#xe627;</i>
                            </div>
                        </div>
                        <p class="lineHeight1_5x textC MB2x">
                            还没有完成的服务，请去<a class="LinkUnderLine blueTex ML0_4x" href="">预约服务</a>
                        </p>
                        <p class="lineHeight1_5x textC">
                            <a class="btnBorderSquare btnBorder_blue" href="ServiceList.html">预约服务</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var app = angular.module('ReviewApp', []);
    app.controller('ReviewCtrl', function ($scope, $http, $filter) {
        $scope.count = 0;
        $http({
            method: 'post',
            url: '/Review/getServiceOrder',
            params: {
                Flag: 1,
                Tag: 0
            }
        }).success(function (req) {
            if (req.Code == "1") {
                var orderList = $scope.orderList = [];
                $scope.addOrderlist = function () {
                    for (var i in req.Data) {
                        orderList.push({
                            imageURL: req.Data[i].ImageURL, // 医生基本信息表.照片地址
                            doctorName: req.Data[i].DoctorName, // 医生基本信息表.姓名
                            hospitalName: req.Data[i].HospitalName, // 医院信息表.医院名称
                            departmentName: req.Data[i].DepartmentName, // 科室信息表.科室名称
                            serviceTime: req.Data[i].ServiceTime // 服务订单表.服务时间
                        });
                        $scope.count = $scope.count + 1;
                    }
                };
                $scope.addOrderlist();
            } else {
                //swal(req.Message);
            }
        }).error(function () {
            swal(req.Code);
            swal("网络繁忙,请稍后再试！");
        });
    });
</script>
