<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>德医平台</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/color.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/iconfont/iconfont.css">
    <script src="/assets/js/angular.js"></script>
    <script src="/assets/js/angular-cookie.js"></script>
    <style type="text/css">
    </style>
</head>
<body class="font09x">
    @RenderBody()
</body>
</html>