
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="MyHeathRecordDetailApp" ng-controller="MyHeathRecordDetailCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/MyHeathRecordList/MyHeathRecordList?t={{tag}}">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>我的健康档案</span>
        <a class="block headerRightIcon width3_2x height3_2x lineHeight3_2x whiteTex" href="/MyHeathRecordList/CreatHealthRecord?t={{Type}}">
            <span class="iconfont font1x">&#xe601;</span>
        </a>
    </div>
    <div class="MT3x MB5_2x">
        <div class="textL clearfix">
            <ul class="fl width100">
                <li class="whiteBkg MB0_4x">
                    <div class="P1_1x clearfix" href="ExchangeCoin.html">
                        <div class="fl width100 MB0_8x font09x flex-box flex-item-center">
                            <span class="fl grayTex">{{UploadDate}}</span>
                            <profileType ng-switch="Type">
                                <span class="fr MR0_8x" ng-switch-when="1">体检报告</span>
                                <span class="fr MR0_8x" ng-switch-when="2">医院病历</span>
                                <span class="fr MR0_8x" ng-switch-when="3">出院小结</span>
                                <span class="fr MR0_8x" ng-switch-when="4">影像片子</span>
                                <span class="fr MR0_8x" ng-switch-when="5">其它</span>
                            </profileType>
                        </div>
                        <div class="fl width100 clearfix" ng-repeat="x in ImageDataList">
                            <a class="fl width33_3 grayTex MB0_4x" ng-click="imaDelete(x.ID,x.Path,x.FileName)">
                                <span class="block  MR0_4x">
                                    <img class="border1 borderGray Bradius0 width100" src="{{x.Path}}" />
                                </span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--图片放大 弹层 开始-->
    @*<div ng-show="mymodal1" class="maskBg div">
        <div class="gpop-wapper gpop-wapper-pic">
            <div class="gpop-content">
                <div class="gpop-body box">
                    <img ng-src="{{ImaPath}}" />
                </div>
                <div class="textC MT1x">
                    <a class="btnBorderSquare btnBorder_red redBkg whiteTex" ng-click="showCheckList()"><i class="iconfont MR0_4x">&#xe661;</i>删除此图片</a>
                </div>
            </div>
        </div>
    </div>*@

    <div ng-show="mymodal1" class="maskBg div">
        <div class="gpop-wapper gpop-wapper-pic" style="top: 0;margin-top: 0;">
            <div class="gpop-content positionR">
                <div class="positionA textC MT1x" style="left: 0;top: 1em;">
                    <a class="btnBorderSquare btnBorder_gray grayBkg whiteTex" ng-click="showCheckList()"><i class="iconfont MR0_4x">&#xe661;</i>删除</a>
                </div>
                <div class="positionA MT1x" style="right: 0;top: 1em;">
                    <a class="btnBorderSquare btnBorder_gray grayBkg whiteTex" ng-click="deleteCancel()"><i class="iconfont MR0_4x">&#xe64d;</i>关闭</a>
                </div>
                <div class="gpop-body" id="gpop-body" style="max-height: 100vh; overflow-y: scroll;">
                    <img ng-src="{{ImaPath}}" />
                </div>

            </div>
        </div>
    </div> 
    <!--弹层 结束-->
    <!--删除档案提示 弹层 开始-->
    <div ng-show="mymodal2" class="maskBg div">
        <div class="gpop-wapper">
            <div class="gpop-content">
                <div class="gpop-body clearfix">
                    <div class="whiteBkg width80 MLRAuto P1_6x textC borderRad05x">
                        <p class="MB0_8x"><i class="iconfont font4x redTex">&#xe649;</i></p>
                        <p>确定删除此档案信息吗？</p>
                        <div class="textC MT2x">
                            <a class="btnBorderSquare btnBorder_gray grayBkg whiteTex PTB0_4x MR0_8x" ng-click="deleteCancel()">取消</a>
                            <a class="btnBorderSquare btnBorder_red redBkg whiteTex PTB0_4x" ng-click="deleteIma()">确 认</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--弹层 结束-->
</div>
<script>
    var app = angular.module('MyHeathRecordDetailApp', []);
    app.config(['$locationProvider', function ($locationProvider) {
        $locationProvider.html5Mode({
            enabled: true,
            requireBase: false,
            rewriteLinks: false
        });
    }]);
    app.controller('MyHeathRecordDetailCtrl', function ($scope, $http, $location) {
        $scope.tag = $location.search().t;
        $scope.DataID = $location.search().i;
        $scope.Type = $location.search().a;
        $scope.UploadDate = $location.search().d;
        $scope.mymodal1 = false;
        $scope.mymodal2 = false;
        $scope.GetProfileDetail = function () {
            $http({
                method: 'post',
                url: '/MyHeathRecordList/getProfileDetail',
                params: {
                    ID: $scope.DataID
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    $scope.ImageDataList = req.Data;
                } else {
                    //swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
        $scope.DeleteProfileIma = function () {
            $http({
                method: 'post',
                url: '/MyHeathRecordList/deleteProfileIma',
                params: {
                    ID: $scope.DataID
                }
            }).success(function (req) {
                if (req.Code == "1") {
                } else {
                    swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
        $scope.imaDelete = function (ID, path, name) {
            $scope.ImaPath = path;
            $scope.deleteID = ID;
            $scope.deletePath = path;
            $scope.deleteUrl = name;
            $scope.mymodal1 = true;
        };
        $scope.showCheckList = function () {
            $scope.mymodal2 = true;
        };
        $scope.deleteCancel = function () {
            $scope.mymodal2 = false;
            $scope.mymodal1 = false;
        };
        $scope.deleteCancel = function () {
            $scope.mymodal2 = false;
            $scope.mymodal1 = false;
        };
        $scope.deleteIma = function () {
            for (var i in $scope.ImageDataList) {
                if ($scope.deletePath == $scope.ImageDataList[i].Path) {
                    $scope.ImageDataList.splice(i, 1);
                    $scope.DeleteProfileIma();
                };
            }
            $scope.mymodal2 = false;
            $scope.mymodal1 = false;
        };
        $scope.GetProfileDetail();
    });
</script>
