
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="MyHeathRecordListApp" ng-controller="MyHeathRecordListCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/Home/Home">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>我的健康档案</span>
        <a class="block headerRightIcon height3_2x lineHeight3_2x  whiteTex PR0_8x" href="/MyHeathRecordList/CreatHealthRecord?t={{tag}}">
            <span class="iconfont font1x MR0_4x">&#xe601;</span><span class="font09x">新增</span>
        </a>
    </div>
    <div class="MT3x MB4_2x">
        <div class="borderBox width100 whiteBkg textC borderB PT0_4x PLR1_25x font09x flex-box flex-item-center">
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex0}" ng-click="ChangeTab(0);">
                <span ng-class="{'inlineB':inlineB0}">全部</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex1}" ng-click="ChangeTab(1);">
                <span ng-class="{'inlineB':inlineB1}">体检报告</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex2}" ng-click="ChangeTab(2);">
                <span ng-class="{'inlineB':inlineB2}">医院病例</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex3}" ng-click="ChangeTab(3);">
                <span ng-class="{'inlineB':inlineB3}">出院小结</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex4}" ng-click="ChangeTab(4);">
                <span ng-class="{'inlineB':inlineB4}">影像片子</span>
            </a>
            <a class="PTB0_8x" ng-class="{'blueTex':blueTex5}" ng-click="ChangeTab(5);">
                <span ng-class="{'inlineB':inlineB5}">其它</span>
            </a>
        </div>
        <div class="textL clearfix">
            <ul class="fl width100">
                <profileList ng-repeat="x in profileList">
                    <li class="whiteBkg MB0_4x">
                        <div class="P1_1x" href="ExchangeCoin.html">
                            <p class="MB0_8x font09x">
                                <span class="grayTex">{{x.uploadDate}}</span>
                            </p>
                            <profiledatalist ng-repeat="y in x.uploadData">
                                <a class="clearfix PTB0_4x" href="/MyHeathRecordList/MyHeathRecordDetail?t={{tag}}&i={{y.id}}&a={{y.type}}&d={{x.uploadDate}}">
                                    <profileType ng-switch="y.type">
                                        <span class="MR0_8x" ng-switch-when="1">体检报告</span>
                                        <span class="MR0_8x" ng-switch-when="2">医院病历</span>
                                        <span class="MR0_8x" ng-switch-when="3">出院小结</span>
                                        <span class="MR0_8x" ng-switch-when="4">影像片子</span>
                                        <span class="MR0_8x" ng-switch-when="5">其它</span>
                                    </profileType>
                                    <span>（{{y.imaCount}}）</span>
                                </a>
                            </profiledatalist>
                        </div>
                    </li>
                </profileList>
            </ul>
        </div>
    </div>
    <!--弹层 开始-->
    <div class="maskBg dispNone">
        <div class="gpop-wapper gpop-wapper-pic">
            <div class="gpop-content">
                <div class="gpop-body">
                    <img src="pic/heads.jpg" />
                </div>
                <div class="textC MT1x">
                    <a class="btnBorderSquare btnBorder_red redBkg whiteTex" href=""><i class="iconfont MR0_4x">&#xe661;</i>删除此图片</a>
                </div>
            </div>
        </div>
    </div>
    <!--弹层 结束-->
</div>
<script>
    var app = angular.module('MyHeathRecordListApp', []);
    app.config(['$locationProvider', function ($locationProvider) {
        $locationProvider.html5Mode({
            enabled: true,
            requireBase: false,
            rewriteLinks: false
        });
    }]);
    app.controller('MyHeathRecordListCtrl', function ($scope, $http, $location, $filter) {
        $scope.tag = $location.search().t;
        $scope.ChangeTab = function (val) {
            $scope.tag = val;
            $scope.blueTex0 = false;
            $scope.inlineB0 = false;
            $scope.blueTex1 = false;
            $scope.inlineB1 = false;
            $scope.blueTex2 = false;
            $scope.inlineB2 = false;
            $scope.blueTex3 = false;
            $scope.inlineB3 = false;
            $scope.blueTex4 = false;
            $scope.inlineB4 = false;
            $scope.blueTex5 = false;
            $scope.inlineB5 = false;
            switch (val) {
                case 0:
                    $scope.blueTex0 = true;
                    $scope.inlineB0 = true;
                    break;
                case 1:
                    $scope.blueTex1 = true;
                    $scope.inlineB1 = true;
                    break;
                case 2:
                    $scope.blueTex2 = true;
                    $scope.inlineB2 = true;
                    break;
                case 3:
                    $scope.blueTex3 = true;
                    $scope.inlineB3 = true;
                    break;
                case 4:
                    $scope.blueTex4 = true;
                    $scope.inlineB4 = true;
                    break;
                case 5:
                    $scope.blueTex5 = true;
                    $scope.inlineB5 = true;
                    break;
                default:
                    break;
            };
            $scope.GetProfile();
        };
        $scope.GetProfile = function () {
            // 健康档案
            $http({
                method: 'post',
                url: '/MyHeathRecordList/getProfile',
                params: {
                    Type: $scope.tag
                }
            }).success(function (req) {
                if (req.Code == "1") {
                    var profileList = $scope.profileList = [];
                    $scope.addProfileList = function () {
                        for (var i in req.Data) {
                            var datalist = new Array();
                            for (var j in req.Data[i].UploadData) {
                                datalist.push({
                                    id: req.Data[i].UploadData[j].ID,
                                    type: req.Data[i].UploadData[j].Type, // 客户健康档案表.类别(1：体检报告 2：医院病历 3：出院小结 4：影像片子)
                                    imaCount: req.Data[i].UploadData[j].ImaCount // 健康档案图片表.类别数量
                                });
                            }
                            profileList.push({
                                uploadDate: req.Data[i].UploadDate, // 客户健康档案表.上传时间
                                uploadData: datalist
                            });
                        }
                    };
                    $scope.addProfileList();
                } else {
                    var profileList = $scope.profileList = [];
                    //swal(req.Message);
                }
            }).error(function () {
                swal(req.Code);
                swal("网络繁忙,请稍后再试！");
            });
        };
        $scope.ChangeTab(parseInt($scope.tag));
    });
</script>
