/****************字体颜色值******************/
.grayTex {
	color: #555!important;
}
.lightgrayTex {
	color: #aaa!important;
}
.redTex {
	color: #dc2b49!important;
}
.greenTex {
	color: rgb(17,183,66)!important;
}
.blueTex {
	color: #3ea8f4!important;
}
.blackTex {
	color: #070707!important;	
}
.whiteTex {
	color: #FFF!important;
}
.whiteTex a:link {
	color: #FFF!important;
}
.whiteTex a:hover {
	color: #FFF!important;
}
.whiteTex a:visited {
	color: #FFF!important;
}
.yellowTex {
	color: #ffc619!important;
}
.orangeTex{
	color: #fba229!important;
}
