@charset "utf-8";
/*Common style*/
.btn {
	*overflow:visible;/*消除IE按钮左右padding随字数长度变化的BUG*/
}
*{ font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;}
/*Custom layout
--------------------------------------------------------------------*/
body {
	text-align:center;
	height: 100%;
}
a,button,input{
	-webkit-tap-highlight-color: transparent;
  	-webkit-touch-callout: none;
  	/*-webkit-user-select: none;*/
	-webkit-tap-highlight-color:rgba(255,0,0,0);/*清除a的点击热区框*/
	background: none;
}

a {
	cursor: pointer;
	color: #333333;
}
a:link {
	cursor: pointer;
	color: #333333;
}
a:hover {
	cursor: pointer;
	color: #333333;
}
a:visited {
	cursor: pointer;
	color: #333333;
}
img{
	display: block;
	width: 100%;
}


/*修改input输入框字体颜色 开始*/
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
　	color: #333333 !important; /* WebKit browsers */
}
input:-moz-placeholder,textarea:-moz-placeholder {
　　color: #333333 !important; /*Mozilla Firefox 4 to 18*/
}
input::-moz-placeholder,textarea::-moz-placeholder {
　　color: #333333 !important; /*Mozilla Firefox 19+*/
}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
　　color: #333333 !important; /* Internet Explorer 10+ */
}

input,textarea{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

input::-webkit-input-placeholder { /* WebKit browsers */
　color:#333333!important;
}
input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　color:#333333!important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#333333!important;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#333333!important;
}
/*
input::-webkit-input-placeholder {
　　color: #333333 !important; / WebKit browsers /
}
input:-moz-placeholder {
　　color: #D6D0CA !important; / Mozilla Firefox 4 to 18 /
}
input::-moz-placeholder {
　　color: #D6D0CA !important; / Mozilla Firefox 19+ /
}
input:-ms-input-placeholder {
　　color: #D6D0CA !important; / Internet Explorer 10+ /
}
*/
/*修改input输入框字体颜色 结束*/

.list-MB60 li:last-child{
	margin-bottom:60px!important;
}
.borderRad05x {
	border-radius: 0.3em;
}

.borderRad1x {
	border-radius: 1em;
}
.borderRad5 {
	border-radius: 5px;
}

.borderRad20p {
	border-radius: 20%;
}
.borderRad50p {
	border-radius: 50%;
}
.borderRad100p {
	border-radius: 100%;
}

.List-PT15 li{
	padding: 15px 0;
	display: block;
	min-height: 1em;
}

.block {
	display: block;
}
/*.in_l_block {
	display: inline-block;
}*/
.dispNone{         
	display:none;
	display:none!important;
}
.inlineB {
	display: inline-block;
	*display: inline;
	zoom: 1; 
}
.fontStyle-N{
	font-style: normal!important;
}
.textC {
	text-align: center!important;
}
.textL {
	text-align: left!important;
}
.textR {
	text-align: right!important;
}

.fontBlod{
	font-weight: 600!important;
} 
.font08x {
	font-size: 0.8em!important;
}
.font085x {
	font-size: 0.85em!important;
}
.font09x {
	font-size: 0.9em!important;
}
.font1x {
	font-size: 1em!important;
}
.font1_1x {
	font-size: 1.1em!important;
}
.font1_2x {
	font-size: 1.2em!important;
} 
.font1_3x {
	font-size: 1.3em!important;
} 
.font1_4x {
	font-size: 1.4em!important;
}
.font1_5x {
	font-size: 1.5em!important;
}
.font1_8x {
	font-size: 1.8em!important;
}
.font2x {
	font-size: 2em!important;
}
.font2_5x {
	font-size: 2.5em!important;
}
.font3x {
	font-size: 3em!important;
}
.font3_5x {
	font-size: 3.5em!important;
}
.font4x {
	font-size: 4em!important;
}
.font5x {
	font-size: 5em!important;
}
.font6x {
	font-size: 6em!important;
}
.font8x {
	font-size: 8em!important;
}
.font10x {
	font-size: 10em!important;
}

.disabled { 
	pointer-events: none; 
}
input[disabled]{
	color: #333!important;
}

.lineHeight1_1x {
	line-height: 1.1em!important;
}
.lineHeight1_25x {
	line-height: 1.25em!important;
}
.lineHeight1_5x {
	line-height: 1.5em!important;
}
.lineHeight1_6x {
	line-height: 1.6em!important;
}
.lineHeight2x {
	line-height: 2em!important;
}
.lineHeight2_2x {
	line-height: 2.2em!important;
}
.lineHeight3x {
	line-height: 3em!important;
}
.lineHeight3_2x {
	line-height: 3.2em!important;
}
.lineHeight4x {
	line-height: 4em!important;
}
.lineHeight5x {
	line-height: 5em!important;
}
.lineHeight50P {
	line-height: 50px!important;
}
.lineHeight60P {
	line-height: 60px!important;
}
.L1P{
	left: 1%;
}
.R1P{
	right: 1%;
}
.MLRAuto {
	margin-left: auto;
	margin-right: auto;
}

.pTB2P {
	padding: 2% 0;
}
.pTB5P {
	padding: 5% 0;
}
.pLR2P {
	padding: 0 2%;
}
.PTB5 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.PTB10 {
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.PTB15 {
	padding-top: 15px!important;
	padding-bottom: 15px!important;
}
.P0 {
	padding: 0!important;
}
.PTB0_4x{
	padding-top: 0.4em!important;
	padding-bottom: 0.4em!important;
}
.PTB0_6x{
	padding-top: 0.6em!important;
	padding-bottom: 0.6em!important;
}
.PTB0_8x{
	padding-top: 0.8em!important;
	padding-bottom: 0.8em!important;
}
.PTB1x{
	padding-top: 1em!important;
	padding-bottom: 1em!important;
}
.PTB1_25x{
	padding-top: 1.25em!important;
	padding-bottom: 1.25em!important;
}

.PLR0_4x {
	padding-left: 0.4em!important;
	padding-right: 0.4em!important;
}
.PLR0_8x {
	padding-left: 0.8em!important;
	padding-right: 0.8em!important;
}
.PLR1x {
	padding-left: 1em!important;
	padding-right: 1em!important;
}
.PLR1_1x {
	padding-left: 1.1em!important;
	padding-right: 1.1em!important;
}
.PLR1_25x {
	padding-left: 1.25em!important;
	padding-right: 1.25em!important;
}
.PLR1_6x {
	padding-left: 1.6em!important;
	padding-right: 1.6em!important;
}
.PLR2x {
	padding-left: 2em!important;
	padding-right: 2em!important;
}
.PLR2_2x {
	padding-left: 2.2em!important;
	padding-right:2.2em!important;
}


.P0_4x {
	padding: 0.4em!important;
}
.P0_8x {
	padding: 0.8em!important;
}
.P1x {
	padding: 1em!important;
}
.P1_1x {
	padding: 1.1em!important;
}
.P1_25x {
	padding: 1.25em!important;
}
.P1_6x {
	padding: 1.6em!important;
}
.P2x {
	padding: 2em!important;
}
.P2_2x {
	padding: 2.2em!important;
}
.M0_8x {
	margin: 0.8em!important;
}
.M1x {
	margin: 1em!important;
}
.M1_1x {
	margin: 1.1em!important;
}
.M1_25x {
	margin: 1.25em!important;
}
.M1_6x {
	margin: 1.6em!important;
}
.M2_2x {
	margin: 2.2em!important;
}
.PT0_2x{
	padding-top: 0.2em!important;
}
.PT0_3x{
	padding-top: 0.3em!important;
}
.PT0_4x{
	padding-top: 0.4em!important;
}
.PT0_8x {
	padding-top: 0.8em!important;
}
.PT1x {
	padding-top: 1em!important;
}
.PT1_1x {
	padding-top: 1.1em!important;
}
.PT1_25x {
	padding-top: 1.25em!important;
}
.PT1_6x {
	padding-top: 1.6em!important;
}
.PT2x {
	padding-top: 2em!important;
}
.PT2_2x {
	padding-top: 2.2em!important;
}
.PT2_5x {
	padding-top: 2.5em!important;
}

.PR0_4x{
	padding-right: 0.4em!important;
}
.PR0_8x {
	padding-right: 0.8em!important;
}
.PR1x {
	padding-right: 1em!important;
}
.PR1_1x {
	padding-right: 1.1em!important;
}
.PR1_25x {
	padding-right: 1.25em!important;
}
.PR1_6x {
	padding-right: 1.6em!important;
}
.PR2x {
	padding-right: 2em!important;
}
.PR2_2x {
	padding-right: 2.2em!important;
}

.PL0_4x{
	padding-left: 0.4em!important;
}
.PL0_8x {
	padding-left: 0.8em!important;
}
.PL1x {
	padding-left: 1em!important;
}
.PL1_1x {
	padding-left: 1.1em!important;
}
.PL1_25x {
	padding-left: 1.25em!important;
}
.PL1_6x {
	padding-left: 1.6em!important;
}
.PL2x {
	padding-left: 2em!important;
}
.PL2_2x {
	padding-left: 2.2em!important;
}

.MT0_3x{
 	margin-top: 0.3em!important;
 }
.MT0_4x{
 	margin-top: 0.4em!important;
 }
.MT0_8x{
 	margin-top: 0.8em!important;
 }
.MT1x{
 	margin-top: 1em!important;
 }
.MT1_1x{
 	margin-top: 1.1em!important;
 }
.MT1_25x{
 	margin-top: 1.25em!important;
 }
.MT1_5x{
 	margin-top: 1.5em!important;
 }
.MT1_6x{
 	margin-top: 1.6em!important;
 }
.MT2x{
 	margin-top: 2em!important;
 }
.MT2_2x{
 	margin-top: 2.2em!important;
}
.MT2_8x{
 	margin-top: 2.8em!important;
}
.MT3x{
 	margin-top: 3em!important;
}
.MT3_2x{
 	margin-top: 3.2em!important;
}
.MT3_4x{
 	margin-top: 3.4em!important;
}
.MT3_8x{
 	margin-top: 3.8em!important;
}
.MT4_2x{
 	margin-top: 4.2em!important;
}

.MB0_3x{
 	margin-bottom: 0.3em!important;
 }
.MB0_4x{
 	margin-bottom: 0.4em!important;
 }
.MB0_8x{
 	margin-bottom: 0.8em!important;
 }
.MB1x{
 	margin-bottom: 1em!important;
 }
.MB1_1x{
 	margin-bottom: 1.1em!important;
 }
.MB1_25x{
 	margin-bottom: 1.25em!important;
 }
.MB1_5x{
 	margin-bottom: 1.5em!important;
 }
.MB1_6x{
 	margin-bottom: 1.6em!important;
 }
.MB2x{
 	margin-bottom: 2em!important;
 }
.MB2_2x{
 	margin-bottom: 2.2em!important;
}
.MB2_8x{
 	margin-bottom: 2.8em!important;
}
.MB3x{
 	margin-bottom: 3em!important;
}
.MB3_4x{
 	margin-bottom: 3.4em!important;
}
.MB3_8x{
 	margin-bottom: 3.8em!important;
}
.MB4_2x{
 	margin-bottom: 4.2em!important;
}
.MB4_8x{
 	margin-bottom: 4.8em!important;
}
.MB5_2x{
 	margin-bottom: 5.2em!important;
}
.MB5_6x{
 	margin-bottom: 5.6em!important;
}
.MB6x{
 	margin-bottom: 6em!important;
}
.MB6_4x{
 	margin-bottom: 6.4em!important;
}
.MB7x{
 	margin-bottom: 7em!important;
}
.MB7_6x{
 	margin-bottom: 7.6em!important;
}

.MTB1x{
	margin-top: 1em!important;
 	margin-bottom: 1em!important;
 }

.PB0_4x {
	padding-bottom: 0.4em!important;
}
.PB0_8x {
	padding-bottom: 0.8em!important;
}
.PB1x {
	padding-bottom: 1em!important;
}
.PB1_1x {
	padding-bottom: 1.1em!important;
}
.PB1_25x {
	padding-bottom: 1.25em!important;
}
.PB1_6x {
	padding-bottom: 1.6em!important;
}
.PB2x {
	padding-bottom: 2em!important;
}
.PB2_2x {
	padding-bottom: 2.2em!important;
}
.MB0_4x{
 	margin-bottom: 0.4em!important;
 }
.MB0_8x{
 	margin-bottom: 0.8em!important;
 }
.MB1x{
 	margin-bottom: 1em!important;
 }
.MB1_1x{
 	margin-bottom: 1.1em!important;
 }
.MB1_25x{
 	margin-bottom: 1.25em!important;
}
.MB1_6x{
 	margin-bottom: 1.6em!important;
 }
.MB2_2x{
 	margin-bottom: 2.2em!important;
 }

.ML0_2x{
 	margin-left: 0.2em!important;
 }
.ML0_4x{
 	margin-left: 0.4em!important;
 }
.ML0_8x{
 	margin-left: 0.8em!important;
 }
.ML1x{
 	margin-left: 1em!important;
 }
.ML1_1x{
 	margin-left: 1.1em!important;
 }
.ML1_25x{
 	margin-left: 1.25em!important;
}
.ML1_6x{
 	margin-left: 1.6em!important;
}
.ML2x{
 	margin-left: 2em!important;
}
.ML2_2x{
 	margin-left: 2.2em!important;
 }
.MR0_4x{
 	margin-right: 0.4em!important;
 }
.MR0_8x{
 	margin-right: 0.8em!important;
 }
.MR1x{
 	margin-right: 1em!important;
 }
.MR1_1x{
 	margin-right: 1.1em!important;
 }
.MR1_25x{
 	margin-right: 1.25em!important;
}
.MR1_6x{
 	margin-right: 1.6em!important;
 }
.MR2x{
 	margin-right: 2em!important;
}
.MR2_2x{
 	margin-right: 2.2em!important;
 }

.PT5 {
	padding-top: 5px!important;
}
.P10 {
	padding: 10px!important;
}
.P15 {
	padding: 15px!important;
}
.PT10 {
	padding-top: 10px!important;
}
.PT15 {
	padding-top: 15px!important;
}
.PT20 {
	padding-top: 20px!important;
}
.PT25 {
	padding-top: 25px!important;
}
.PT30 {
	padding-top: 30px!important;
}
.PT40 {
	padding-top: 40px!important;
}
.PT50 {
	padding-top: 50px!important;
}
.PB0 {
	padding-bottom: 0!important;
}
.PB5 {
	padding-bottom: 5px!important;
}
.PB10 {
	padding-bottom: 10px!important;
}
.PB15 {
	padding-bottom: 15px!important;
}
.PB20 {
	padding-bottom: 20px!important;
}
.PB25 {
	padding-bottom: 25px!important;
}
.PB30 {
	padding-bottom: 30px!important;
}
.PB40 {
	padding-bottom: 40px!important;
}
.PB50 {
	padding-bottom: 50px!important;
}
.PL10 {
	padding-left: 10px!important;
}
.PL15 {
	padding-left: 15px!important;
}
.PL20 {
	padding-left: 20px!important;
}
.PL25 {
	padding-left: 25px!important;
}
.PL30 {
	padding-left: 30px!important;
}
.PL10 {
	padding-left: 10px!important;
}

.ML5 {
	margin-left: 5px!important;
}
.ML10 {
	margin-left: 10px!important;
}
.ML15 {
	margin-left: 15px!important;
}
.ML20 {
	margin-left: 20px!important;
}
.ML25 {
	margin-left: 25px!important;
}
.ML30 {
	margin-left: 30px!important;
}

.ML40 {
	margin-left: 40px!important;
}
.ML100 {
	margin-left: 100px!important;
}
.ML105 {
	margin-left: 105px!important;
}
.ML135 {
	margin-left: 135px!important;
}
.MR5P {
	margin-right: 5%!important;
}
.MR10P {
	margin-right: 10%!important;
}
.MR15P {
	margin-right: 15%!important;
}

.ML5P {             
	margin-left: 5%!important;
}
.ML10P {             
	margin-left: 10%!important;
}
.ML5P {             
	margin-left: 5%!important;
}

.MR5 {
	margin-right: 5px!important;
}
.MR10 {
	margin-right: 10px!important;
}
.MR15 {
	margin-right: 15px!important;
}
.MR20 {
	margin-right: 20px!important;
}
.MR25 {
	margin-right: 25px!important;
}
.MR30 {
	margin-right: 30px!important;
}

.MT3 {
	margin-top: 3px!important;
}
.MT5 {
	margin-top: 5px!important;
}
.MT10 {
	margin-top: 10px!important;
}
.MT15 {
	margin-top: 15px!important;
}
.MT17 {
	margin-top: 17px!important;
}
.MT20 {
	margin-top: 20px!important;
}
.MT25 {
	margin-top: 25px!important;
}
.MT30 {
	margin-top: 30px!important;
}
.MT40 {
	margin-top: 40px!important;
}
.MT50 {
	margin-top: 50px!important;
}
.MT60 {
	margin-top: 60px!important;
}
.MT70 {
	margin-top: 70px!important;
}
.MT75 {
	margin-top: 75px!important;
}
.MT80 {
	margin-top: 80px!important;
}
.MT100 {
	margin-top: 100px!important;
}
.MA0 {
	margin: 0!important;
}
.MB0 {
	margin-bottom: 0!important;
}
.MB2 {
	margin-bottom: 2px!important;
}
.MB5 {
	margin-bottom: 5px!important;
}
.MB10 {
	margin-bottom: 10px!important;
}
.MB15 {
	margin-bottom: 15px!important;
}
.MB20 {
	margin-bottom: 20px!important;
}
.MB30 {
	margin-bottom: 30px!important;
}
.MB50 {
	margin-bottom: 50px!important;
}
.MB60 {
	margin-bottom: 60px!important;
}
.PA0 {
	padding: 0;
}
.MLR1_5P {
	margin-right: 1.5%;
	margin-left: 1.5%;
}
.MR1P {
	margin-right: 1%;
}
.MT5P {
	margin-top: 5%;
}
.MT10P {
	margin-top: 10%;
}
.MT12P {
	margin-top: 12%;
}
.MT15P {
	margin-top: 15%;
}
.MT20P {
	margin-top: 20%;
}
.MB5P {
	margin-bottom: 5%;
}
.MB10P {
	margin-bottom: 10%;
}

/*em宽度*/
.width4_8x {
	width: 4.8em;
}
.width4_4x {
	width: 4.4em;
}
.width4x {
	width: 4em;
}
.width3_6x {
	width: 3.6em;
}
.width3_2x {
	width: 3.2em;
}
.width2_8x {
	width: 2.8em;
}
.width2_4x {
	width: 2.4em;
}
.width2x {
	width: 2em;
}
.width1_6x {
	width: 1.6em;
}
.width1_2x {
	width: 1.2em;
}
.width0_8x {
	width: 0.8em;
}
.width0_4x {
	width: 0.4em;
}
/*em高度*/
.height4_8x {
	height: 4.8em;
}
.height4_4x {
	height: 4.4em;
}
.height4x {
	height: 4em;
}
.height3_6x {
	height: 3.6em;
}
.height3_2x {
	height: 3.2em;
}
.height2_8x {
	height: 2.8em;
}
.height2_4x {
	height: 2.4em;
}
.height2x {
	height: 2em;
}
.height1_6x {
	height: 1.6em;
}
.height1_2x {
	height: 1.2em;
}
.height0_8x {
	height: 0.8em;
}
.height0_4x {
	height: 0.4em;
}


.width150P {
	width: 150px;
}
.width120P {
	width: 120px;
}
.width100P {
	width: 100px;
}
.width90P {
	width: 90px;
}
.width80P {
	width: 80px;
}
.width70P {
	width: 70px;
}
.width60P {
	width: 60px;
}
.width50P {
	width: 50px;
}
.width40P {
	width: 40px;
}
.width25P {
	width: 25px;
}
.height60P {
	height: 60px;
}
.height50P {
	height: 50px;
}

/*宽度百分比*/
.width100{
	width: 100%;
}
.width98 {
	width: 98%;
}
.width95 {
	width: 95%;
}
.width90{
	width: 90%;
}
.width88 {
	width: 88%;
}
.width85{
	width: 85%;
}
.width83 {
	width: 83%;
}
.width80{
	width: 80%;
}
.width75{
	width: 75%;
}
.width70{
	width: 70%;
}
.width65{
	width: 65%;
}
.width60 {
	width: 60%;
}
.width55 {
	width: 55%;
}
.width50 {
	width: 50%;
}
.width48 {
	width: 48%;
}
.width45 {
	width: 45%;
}
.width44 {
	width: 44%;
}
.width40 {
	width: 40%;
}
.width35 {
	width: 35%;
}
.width33_3 {
	width: 33.3%;
}
.width32 {
	width: 32%;
}
.width30 {
	width: 30%;
}
.width25 {
	width: 25%;
}
.width24 {
	width: 24%;
}
.width23 {
	width: 23%;
}
.width20 {
	width: 20%;
}
.width15 {
	width: 15%;
}
.width10 {
	width: 10%;
}
.width6 {
	width: 6%;
}
.width5 {
	width: 5%;
}
.height100 {
	height: 100%;
}
.height90 {
	height: 90%;
}

.positionR{
	position: relative;
}
.positionA{
	position: absolute;
}


.borderT {
	border-top: 1px solid #EEE;
}
.borderB {
	border-bottom: 1px solid #EEE;
}
.borderB-orange {
	border-bottom: 1px solid #FBA229;
}
.borderB-yellow {
	border-bottom: 1px solid #FFC619;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.MLR5 {
	margin-left: 5px;
	margin-right: 5px;
}
/****************背景颜色值******************/
/*.whiteBkg {
	background-color: #FFF;
}
.yellowBkg {
	background-color: #FFC619!important;
}
.orangeBkg {
	background-color: #FBA229!important;
}
.redBkg{
	background-color: #dc2b49!important;
}
.blackBkg{
	background-color: rgba(0,0,0,0.8)!important;
}
.lightblackBkg{
	background-color: rgba(73,73,73,0.75)!important;
}
*/

/****************字体颜色值******************/
/*.grayTex {
	color: #555!important;
}
.lightgrayTex {
	color: #aaa!important;
}
.redTex {
	color: rgb(220,43,73)!important;
}
.greenTex {
	color: rgb(17,183,66)!important;
}
.blueTex {
	color: #3ea8f4!important;
}
.blackTex {
	color: #070707!important;	
}
.whiteTex {
	color: #FFF!important;
}
.whiteTex a:link {
	color: #FFF!important;
}
.whiteTex a:hover {
	color: #FFF!important;
}
.whiteTex a:visited {
	color: #FFF!important;
}*/

/* .color1 {
	color: #f75483;
} */








/*.rowUl1 li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.rowUl2 li {
	font-size: 16px;
	padding: 20px 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
}*/
.btmline {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
}
.LinkUnderLine {
	text-decoration: underline;
}
.LinkThroughLine {
	text-decoration: line-through;
}
/* .textarea {
	padding: 10px 2%;
	width: 96%;
	resize: none;
	border: 1px solid #eee;
} */
.textarea {
	padding: 10px;
	width: 96%;
	resize: none;
	border: 1px solid #eee;
	box-sizing:border-box;
}
.popupDiv {
	position: absolute;
	top: 20%;
	left: 0;
	height: 360px;
	overflow-y: auto;
}
.popUpImgArea img {
	width: 60px;
	height: 60px;
}
.btnBtm {
	position: fixed;
	bottom: 0;
	left: 0;
}
.PB100 {
	padding-bottom: 100px;
}
/*边框*/
.border {
	background: #eee;
	width: 1px; 
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
}

.borderInput {
	border-top:none;
	border-right:none;
	border-left:none;
	/*border-bottom:1px solid #eee;*/
	border-bottom:none;
	text-align:left;
	color:#818181;
	background:none;
	/*width:145px;*/
}
.borderRadius img{
	border-radius:50%;
	border:#e7e7e7 1px solid;
}
.btnBtmUL li a {
	display: block;
	padding: 0px;
	height: 60px;
	line-height: 60px;
}
.PL15S {
	padding-left: 15px;
}
.PR15S {
	padding-right: 15px;
}

 /*li:last-child{
	border-bottom:none!important;
}*/
/*---
.borderPink{
	border:1px solid #f75483!important;
}
---*/
.borderNone{
	border: none!important;
}
.backgroundNone{
	background: transparent!important;
}
.width40P {
	width: 40px;
}
.width20P {
	width: 20px;
}
.height20P {
	height: 20px;
}
.width2x{
	width: 2em;
}
.width3x{
	width: 3em;
}
.width4x{
	width: 4em;
}
.width5x{
	width: 5em;
}
.width6x{
	width: 6em;
}
.width7x{
	width: 7em;
}

.height2x{
	height: 2em;
}
.height3x{
	height: 3em;
}
.height4x{
	height: 4em;
}
.height5x{
	height: 5em;
}


.overflowHidd{
	overflow: hidden!important;
}
.width93{
	width: 93%;
}
.opacity08{
	opacity:0.8;
	filter:alpha(opacity=80);
}

.bkgOpacity7{
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.borderPink{
	border:1px solid #f75483;
}
.pLR2P {
	padding: 0 2%;
}
.PR10 {
	padding-right: 10px;
}
.PR15 {
	padding-right: 15px;
}
.PR20 {
	padding-right: 20px;
}
.PR25 {
	padding-right: 25px;
}
.PLR_5EM{
	padding-left:0.5em!important;
	padding-right:0.5em!important;
}
.PL40 {
	padding-left: 40px;
}
.MB80 {
	margin-bottom: 80px;
}

.ddTex {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
.T15P {
	top: 15%;
}
.am-row{
    background: url(../pic/rightArrow.png) no-repeat right;
    background-size: 20px;
}
.edit-icon{
    background: url(../pic/editicon.png) no-repeat right;
    background-size: 25px;
}
.filter-icon{
    background: url(../pic/filtericon.png) no-repeat right;
    background-size: 20px;
}
.share-icon{
	background: url(../pic/shareicon.png) no-repeat left;
    background-size: 25px;
}
.share-iconR{
	background: url(../pic/shareicon.png) no-repeat 98% 0% ;
    background-size: 25px;
}
.del-icon{
	width: 20px;
	height: 20px;
	background: url(../pic/delicon.png) no-repeat right;
    background-size: 20px;
}
.Bradius0{
	border-radius:0!important;
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
}
.Bradius0 img{
	border-radius:0!important;
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
}
.Bradius0_4x{
	border-radius:0.4em!important;
	-moz-border-radius:0.4em!important;
	-webkit-border-radius:0.4em!important;
}
.Bradius0_4x img{
	border-radius:0.4em!important;
	-moz-border-radius:0.4em!important;
	-webkit-border-radius:0.4em!important;
}
.height25P{
	height: 25px;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: none;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
 /*  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent; */
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
 /*  padding-right: 14px; */
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand{ 
	display: none;
}
/*IOS下移除按钮原生样式*/
input[type=button]{
	-webkit-appearance:none;
	outline:none
}

/*flex 布局*/
.flex-box {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.flex-box-col {
    flex-direction: column;
    justify-content:center;
}
.flex-justifyC-spaceAround{
	justify-content: space-around;
	/*justify-content: center;*/
}
.flex-justifyC-start{
	justify-content: flex-start;
	/*justify-content: center;*/
}
.flex-item-start{
	align-items:flex-start;
}
.flex-item-end{
	align-items:flex-end;
}
.flex-item-center{
	align-items:center;
}
.flex-item-stretch{
	align-items:stretch;
}
.flex-center {
    flex: 1;
}

.basic_flex{
	display:-webkit-box;
    display:flex;
    display:-ms-flex;
    display:-webkit-flex;
    align-items:center
}
.basic_flex_item{
	flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    -webkit-box-flex:1;
    position: relative;
    text-align:center;
}

.choose-num {
    margin-top: -19px;
    position: absolute;
    z-index: 0;
}
.bkgColorNone{
	background: none;
}


.uncheck{
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-o-appearance: none; 
	appearance: none;
	display: inline-block;
	box-shadow: none;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	width: 1.2em;
	height: 1.2em;
	border-radius: 0.2em;
	
   /* border-radius: 5px;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;*/
  
   
    /*padding: 9px;
    position: relative;*/
	
}
.check-on{
	-webkit-appearance: none; 
	-moz-appearance: none; 
	-o-appearance: none; 
	appearance: none;
	display: inline-block;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
	background-color: #fff;
	border: 1px solid #bdbdbd;
	width: 1em;
	height: 1em;
	border-radius: 0.2em;
	
   /* border-radius: 5px;*/
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;*/
  
   
    /*padding: 9px;
    position: relative;*/
	
}


.contentBox{
	box-sizing: content-box!important;
}
.borderBox{
	box-sizing: border-box!important;
	-moz-box-sizing:border-box!important;
}
.fixTop{
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 10;
	top:0;
}
.fixBottom{
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 10;
	bottom:0;
}

.maskBg{
	display: block;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    overflow: visible;
}
.maskBg .popScoll-wapper{
    height: 60% !important;
    /*padding-top: 44px;*/
}
.maskBg .popScoll-content {
    border: 0 none;
    margin-bottom: 0;
    max-height: 20em !important;
    min-height: 10em !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.maskBg .gpop-wapper{
	width: 260px; 
	height: 200px;
	border-radius: 10px; 
	background: #ffff;
	position: absolute; 
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -130px;
}
.maskBg .gpop-wapper-pic{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: #ffff;
    position: absolute;
    top: 50%;
     left: 0; 
    margin-top: -50%;
     margin-left: 0; 
}
.maskBg .gpop-wapper .gpop-content .gpop-body p img{
	width: 80px;
}
.boxshadow{
	-moz-box-shadow:0px 0px 5px #888888;
	-webkit-box-shadow:0px 0px 5px #888888;
	box-shadow:0px 0px 5px #888888;
}
/*表格*/
table{
	background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
table th, table td {
    border: 1px solid #eee;
}
table{
	border-right:1px solid #fff!important;
	border-bottom:1px solid #fff!important;
}
table th,table td{
	border-top:1px solid #eee!important;
	border-left:1px solid #eee!important;
}
table th,table tr{
	text-align: center;
	height: 3em;
}		


/*按钮*/
.button-lg{
	width: 80%;
	padding: 1em auto;
}
.button-md{
	width: 60%;
	padding: 1em auto;
}
.button-sm{
	width: 50%;
	padding: 1em auto;
}
.button-xs{
	width: 40%;
	padding: 1em auto;
}

.btnLarge {
	color: #FFF;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	border-radius: 0.2em;
	font-size: 1.1em;
}
.btnSmall {
	color: #FFF;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 5px;
}

.btnBorderCircle{
	padding:0.5em 0;
	width: 70%;
	border-radius: 10em;
}
.btnBorderSquare{
	/*display: inline-block;*/
	padding: 0.3em 1em;
	/*padding: 0 1em;
	height: 1.6em;
	line-height: 1.6em;*/
	background: #ffffff;
	border:1px solid #0e8afd;
	color: #0e8afd;
}

.btnBorder_gray{
	background: #fff!important;
	border: 1px solid #898989!important;
	color: #898989!important;
}
.btnBorder_lightgray{
	background: #fff!important;
	border: 1px solid #ddd!important;
	color: #ddd!important;
}
.btnBorder_lightgray2{
	background: #fff!important;
	border: 1px solid #ddd!important;
	color: #898989!important;
}
.btnBorder_disabled{
	background: #eee!important;
	border: 1px solid #eee!important;
	color: #fff!important;
}
.btnBorder_blue{
	background: #ffffff;
	border: 1px solid #0e8afd!important;
	color: #0e8afd!important;
}
.btnBorder_red{
	background: #ffffff;
	border: 1px solid #ff6565!important;
	color: #ff6565!important;
}
.btnBorder_yellow{
	background: #ffffff;
	border: 1px solid #efcd40!important;
	color: #efcd40!important;
}
.btnBorder_green{
	background: #ffffff;
	border: 1px solid #8dbf43!important;
	color: #8dbf43!important;
}
.btnBorder_black{
	background: #fff!important;
	border: 1px solid #333!important;
	color: #333!important;
}

/*文字长度限制*/
.longTex {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
.longTex95 {
	width: 95%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
.longTex90 {
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
.longTex60 {
	width: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

/*字体大小设置*/
@media screen and (min-width: 320px) {
    html {font-size: 14px;}
}
 
@media screen and (min-width: 360px) {
    html {font-size: 16px;}
}
 
@media screen and (min-width: 400px) {
    html {font-size: 18px;}
}
 
@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}
 
@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}
 
@media screen and (min-width: 640px) {
    html {font-size: 28px;}
}

/*形状*/
.Square_Small_pic{
	border-radius: 0.3em;
	border: 1px solid #ddd;
}
.Square_pic{
	border-radius: 0.3em;
	border: 2px solid #ddd;
}
.Square_5x_pic{
	display: inline-block;
	width: 5em;
	height: 5em;
	overflow: hidden;
	line-height: 5em;
	text-align: center;
	border-radius: 0.3em;
	border: 1px dashed #aaa;
}
.Square_7x_pic{
	display:inline-block;
	width:7em;
	height:7em;
	overflow: hidden;
	line-height:7em;
	text-align:center;
	/*border-radius: 7em;*/
	/*background: #2883e1;
	color: #fff; */
	 /*top: 5px;
	 right: 5px;*/
}
.Square_7x_pic img{
	/*border-radius: 7em!important;*/
}
.Square_9x_pic{
	display:inline-block;
	width:10em;
	height:auto;
	overflow: hidden;
	text-align:center;
}

.circle_big_pic{
	display:inline-block;
	width:7em;
	height:7em;
	line-height:7em;
	text-align:center;
	border-radius: 7em;
	/*background: #2883e1;
	color: #fff; */
	 /*top: 5px;
	 right: 5px;*/
}
.circle_big_pic img{
	border-radius: 7em!important;
}
.circle_pic{
	display:block;
	width: 5em;
	height: 5em;
	overflow: hidden;
	border-radius:5em;
	line-height: 5em;
	text-align: center;
	border: 1px solid #eee;
}
.circle_pic img{
	width: 100%;
	/*border-radius:5em;*/
	/*border: 1px solid #eee;*/
}
/*按钮*/
.dy_btn{
	width: 10em;
	height: 2em;
	line-height: 2em;
}
/*标签*/
.s_Tag{
	padding: 0.2em 0.4em;
	margin:0.2em 0.4em 0.2em 0;
	border-radius: 0.3em;
	background: #eee;
}
.b_Tag{
	padding: 0.2em 0.4em;
	border-radius: 0.3em;
	background: #eee;
}
.yellow_Tag{
	color:#9c7c13;
	background: #ffe798;
}
.red_Tag{
	color: #ff6565;
	background: #ffe0e0;
}

.vip_Tag{
	padding: 0.2em 0.8em 0.3em 0.8em;
	border-radius: 1em;
	background: #eee;
}
.ctVip_Tag{
	color: #ffffff;
	background: #54abe0;
}
.ptVip_Tag{
	color: #ffffff;
	background: #ddbc74;
}
.KVip_Tag{
	color: #ffffff;
	background: #f5b53a;
}
.ctVip_Bkg{
	color: #7d8288;
}
.ptVip_Bkg{
	color: #ddbc74;
}
.KVip_Bkg{
	color: #f5b53a;
}

/*输入字体颜色*/
/*chrome谷歌浏览器，Safari苹果浏览器*/
/* WebKit browsers */
input[name="color"]::-webkit-input-placeholder {  
	color: red;
	/*font-size:15px;*/
}
/*firefox火狐浏览器*/
/* Mozilla Firefox 4 to 18 */ 
input[name="color"]:-moz-placeholder { 
	color: red;
	/*font-size:15px;*/
} 
/* Mozilla Firefox 19+ */ 
input[name="color"]::-moz-placeholder { 
	color: red;
	/*font-size:15px;*/
}
/*IE浏览器 Internet Explorer 10+ */ 
input[name="color"]:-ms-input-placeholder { 
	color: red;
	/*font-size:15px;*/
}