@charset "utf-8";

@import url("reset.css");
@import url("layout.css");
@import url("loding.css");
body {
    width: 100%;
    font-size: 100%;
    -webkit-text-size-adjust : 100% ;     
    -moz-text-size-adjust : 100% ;     
    -ms-text-size-adjust : 100% ;  
    text-size-adjust : 100%; 
    text-align: left;
    color: #333333;
    background-color:#f4f7f9!important ;
}
/*登录页*/
.login_bkg {
  background: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
  background: linear-gradient(red, blue); /* 标准的语法 */
}



/*banner*/
.banner {
	padding-top: 0px;
}
.banner img {
	width: 100%;
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > figure {
	float: left;
	width: 100%;
	position: relative;
	margin: 0;
}
#position{
	position: absolute;
	bottom: 0.6em;
	right:0.6em;
}
#position li{
	/*background-color: rgba(255,2555,255,0.5);*/
	background-color: #c5c5c6;
	width: 0.6em;
	height: 0.6em;
	border-radius: 100%;
	margin: 0 0.2em;
	display: inline-block;
}
#position li.on{
	/*background-color: rgba(255,2555,255,1);*/
	background-color: #007aff;
}
/*首页*/
.icon_Tips{
	display:inline-block;
	width: 0.5em;
	height: 0.5em;
	border-radius:0.5em;
	background: #ff6565;
	margin: auto;
	top: 0;
	right: 0;
	/*bottom: 0;*/
	left: 0;
}
.TopLeft0{
	top: 0!important;
	left: -1em!important;;
}
.TopRight0{
	top: 0!important;;
	right: -1em!important;;
}
.BottomLeft0{
	bottom: 0!important;;
	left: 0!important;;
}
.BottomRight0{
	bottom: 0!important;;
	right: 0!important;;
}

.top_Search{
	padding: 0.5em 0.5em;
	border: 1px solid #E2E2E2;
	border-radius: 2em;
}


.menuBox{
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;  /* OLD - Firefox 19- H5不用考虑 */
	display: -mz-flexbox; /* TWEENER IE 10 */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: space-between;
	align-items:center;
}
.menuBox_item{
	flex-grow:1;
	width:1%;
	box-sizing: border-box;
	background: #e6f0fa; 
	border-radius: 0.4em; /* 5px */
	padding: 1em 0.4em;
	margin: 0px 0.3em 0px 0.38em;
}
.menuBox_item .menuBox_item_icon{
	width:33%;
}
.menuBox_item .menuBox_item_title{
	/*box-sizing: border-box;*/
	/*width: 60%;*/
	padding-left: 0.4em; /* 5px */
	text-align: left;
	font-style: normal!important;
}
.menuBox_item_lock{
	background: url(../pic/lockicon.png) #dfdfdf center center no-repeat;
	background-size: 10%;
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
	opacity: 0.7;
}
.menuBox_item_lock .menuBox_item_title{
	-moz-opacity: 0.3;
	-webkit-opacity: 0.3;
	opacity: 0.3;
}
.menuBox_item_lock .menuBox_item_icon{
	-moz-opacity: 0.3;
	-webkit-opacity: 0.3;
	opacity: 0.3;
}

/*报告列表页*/
.reportTopBox{
	display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;  /* OLD - Firefox 19- H5不用考虑 */
	display: -mz-flexbox; /* TWEENER IE 10 */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: flex-start;
	align-items:center;
	 /*justify-content: space-between;*/
	padding: 1.6em 0.8em; /*20px 10px*/
}
/*.reportTopBox_item{
	flex-grow:1;
	width:1%;
	box-sizing: border-box;
	padding: 5px 0px;
	align-items:center
}*/
.reportTopBox_item_icon{
	/*width:3.1em;*/
	width:14%;
}
.reportTopBox_item_title{
	flex-grow:1;
	padding-left: 0.8em;
	text-align: left;
	font-style: normal!important;
}
.reportTopBox_item_subtitle{
	width: 30%;
	text-align: right;
}






.imgArea {
	text-align: center;
}
.carouselInner {
	margin: 1% auto;
	text-align: center;
}
.carouselInner .item {
	border-radius: 50px;
	width: 14px;
	height: 14px;
	display: inline-block;
	*display: inline;
	zoom: 1; 
	margin: 0 1%;
}
.tab {
	text-align: center;
	width: 100%;
	margin: auto;
}
.tab .tabItem {
	border-radius: 100px;
	width: 65px;               
	height: 65px;             
	display: inline-block;
	*display: inline;
	zoom: 1; 
	margin: 0 1%;
}
/*---------20150918 new add-------------*/
.tab .goTtop{             
	border-radius: 100px;
	border:#e7e7e7 1px solid;
	opacity:0.6; 
	filter:alpha(opacity=60);	
	width: 45px;               
	height: 45px;              
	display: inline-block;
	*display: inline;
	zoom: 1; 
	margin: 0 1%；
}
.separation {
	width: 20px;
	height: 20px;
	border-radius: 5px;
	vertical-align: middle;
}
.rightSite {
	position: absolute;
	right: 2%;
	top: 3px;
}
.viewImgArea {
	width: 98px;
	height: 98px;
	text-align: center;
	padding: 1px;
}
.viewImgArea > img {
	width: 98px;
	height: 98px;
}

/*.P10Table tr td {
	padding: 15px 0;
	vertical-align: middle;
}*/
.header {
	/*height: 60px;*/
	height: 3.2em;
	text-align: center;
	color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 10;
	top:0;
	
}
/*---------20151010 new add-------------*/
.header span{
	/*line-height: 60px;*/
	line-height: 3.2em;
}
.headerLeftIcon {
	position: absolute;
	top: 0;
	left: 0.1%;
	text-decoration:none;	
}
.headerRightIcon {
	position: absolute;
	top: 0;
	right: 0.1%;
	text-decoration:none;	
}
.iconBkg {
	width: 50px;
	height: 50px;
	text-align: center;
}
.innerIconInput {
	padding: 12px;
	outline: none;
	margin-left: 50px;
	font-size: 16px;
	width: 80%;
	border: none;
}
.innerIcon {
	position: absolute;;
	left: 0;
	top: 5px;
}
/*任务详情*/
.detailImg {
	width: 100%;
}
.detailImg >img {
	display: block;
	width: 100%;
	height: auto;
}
.height140 {
	height: 140px;
}
.transparent8 {
	opacity:0.8!important;
	
}
.photoArea {
	width: 6em;
	height: 6em;
	padding: 0.2em;
	border-radius: 6em;
	text-align: center;
	overflow:hidden;
	background: rgba(255,255,255,0.6);
}
.photoArea img {
	width: 6em;
	height: 6em;
	border-radius: 6em;
}


.itemCard {
	padding: 5px 10px;
	border-radius: 5px;
}
.P10LRTable tr td {
	padding-left: 10px;
	padding-right: 10px;
} 
.P10Table .PB0 td {
	padding-bottom: 0;
}
.rightArrow {
	position: absolute;
	right: 0;
	top: 12px;
}
.rightArrowRow {
	position: absolute;;
	right: 0;
	top: 50%;
	margin-top: -10px;
}
.icon {
	color: #FFF;
	border-radius: 5px;
	padding: 2px;
	line-height: 100%;
	text-align: center;
	margin-right: 5px;
}
.linkA {
	text-decoration: underline;
}
.rowUl li {
	padding: 0;
}
.rowUl li a {
	padding: 13px 0;
	display: block;
	min-height: 1em;
} 
.rowUl15 > li {
	padding: 15px 0;
}

.closedBtn {
	position: absolute;
	top: 10%;
	right: 10%;
}


.inputBox {
	border: none;
	padding: 15px 0;
}
.pTB15 > li{
	padding-top: 15px;
	padding-bottom: 15px;
}
.checkbox {
	width: 80px;
	height: 80px;
}
.height40 {
	height: 40px;
} 
.rightIconArrow {
	top: 50%;
	margin-top: -20px;
	right: 4%;
	cursor: pointer;
}
.imgBlock {
	overflow: hidden;
}
.search {
	padding: 10px 3%;
	width: 80%;
	border: 1px solid #eeeeee;
	-webkit-appearance: none;
	border-radius: 0;
}
.searchBtn {
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	padding: 11px 0px;
	width: 20%;
	color: #FFF;
	font-size: 16px;
	margin-left: -1px;
	position: absolute;
	right: 0;
	top: 0;
}
input.min, input.add {
	border: 1px solid #eee;
	width: 20px;
	background: #FFF;
	text-align: center;
	border-radius: 5px;
	-webkit-appearance: none;
	line-height: 20px;
	height: 22px!important;
}
.textBox {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #eee;
	border-radius:0%;
	line-height: 20px;
}

/*---------20151110 new add end-------------*/   
.btnMid {
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 5px;
	font-size: 16px;
}

/*-------------------------------------------2016-3-2 add -------------------------*/
.dropyears select{
	position: relative;
	height: auto;
	border: none;
	margin: 13px 0px;
}
.PublisheImg img{
	height: 1.7em;
}
.numlist{
	list-style-type:decimal!important;
	padding-left: 25px;
}
/*进度条百分比*/
.PercentNumBkg{
	box-sizing: border-box;
	width: 100%;
}
/*
.GoldMemberBkg{
	box-sizing: border-box;
	width: 100%;
}*/
.PercentNumWarp{
	margin-top: 10%;
	width: 100%;
	height: 0.7em;
	background: rgba(55,55,55,0.1);
	border-radius: 0.7em;;
}
/*.MemberLoadWarp{
	margin-top: 12%;
	width: 100%;
	height: 0.7em;
	background: rgba(55,55,55,0.1);
	border-radius: 0.7em;;
}*/
.PercentNumTitle{
	position: absolute;
	bottom:1em;
	/*left: 1%;*/
}
.PercentNumContent{
	display:block;
	height: 0.7em;
	line-height: 0.7em;
	border-radius: 0.7em;
	background: #3ed2b9;
	overflow: hidden;
}
.RulerNumContent{
	display: block;
    position: absolute;
    top: -0.6em;
    height: 2em;
    width: 0.4em;
    line-height: 0.7em;
    border-radius: 0.7em;
}
/*.MemberLoadContent{
	display:block;
	height: 0.7em;
	line-height: 0.7em;
	border-radius: 0.7em;
	background: #3ed2b9;
	overflow: hidden;
}*/

/*每页Tab样式*/
.bodyTab_on{
	/*color: #1075bd;*/
	padding: 0 0.4em;
	/*border-bottom: 2px solid #1075bd;*/
}
.type1Tab_on{
	color: #3ea7d2;
	border-bottom: 2px solid #3ea7d2;
}
.type2Tab_on{
	color: #3ed1b8;
	border-bottom: 2px solid #3ed1b8;
}
.type3Tab_on{
	color: #ef518f;
	border-bottom: 2px solid #ef518f;
}
.type4Tab_on{
	color: #9985ee;
	border-bottom: 2px solid #9985ee;
}
.type5Tab_on{
	color: #f3bf32;
	border-bottom: 2px solid #f3bf32;
}
.type6Tab_on{
	color: #41c76e;
	border-bottom: 2px solid #41c76e;
}


.bodyList li:last-child{
	border-bottom: none!important;
}
