.maskBg{
	display: block;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    overflow: visible;
}
   
.maskBg .gpop-wapper{
	position: relative;
	width: 100%;
	height: 100%;
}
.maskBg .gpop-content {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    min-width: 100px;
    max-width: 280px;
    min-height: 100px;
    max-height: 210px;
   	border-radius: 10px;
	background: #FFFFFF;
	color:#444444;
}

.gpop-wapper img{
	display: block;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.gpop-body{
	width:70%;
	margin: 25px auto;
}
.gpop-wapper a{
	padding: 5px;
	width: 35%;
	display: inline-block;
	
	
	
	/*margin: 0 auto 20px auto;*/
}
