
@{
}

<link rel="stylesheet" type="text/css" href="/assets/css/sweetalert.css">
<script src="/assets/js/sweetalert.min.js"></script>
<div ng-app="ServiceApp" ng-controller="ServiceCtrl">
    <div class="header positionR blueBkg whiteTex">
        <a class="inlineB headerLeftIcon width3_2x height3_2x lineHeight3_2x blackTex" href="/Home/Home">
            <span class="iconfont font1x">&#xe60a;</span>
        </a>
        <span>就医服务</span>
    </div>
    <div class="MT3x MB4_2x">
        <div class="textL clearfix">
            <!--医生详情-->
            <ul class="fl width100">
                <li class="whiteBkg MB0_4x">
                    <div class="P1_1x">
                        <servicelist ng-repeat="x in serviceList">
                            <a class="clearfix MB1x flex-box" href="/ServiceList/ServiceDetail?s={{x.serviceCode}}">
                                <div class="fl width10 MR0_8x blueTex">
                                    <serviceimg ng-if="x.listImageURL == ''">
                                        <i class="iconfont font1_8x">&#xe8c4;</i>
                                    </serviceimg>
                                    <serviceimg ng-if="x.listImageURL != ''">
                                        <img src="{{x.listImageURL}}" />
                                    </serviceimg>
                                </div>
                                <div class="fl width90 textL">
                                    <span class="fontBlod">{{x.name}}</span><i class="iconfont ML0_4x">&#xe60b;</i><br />
                                    <span class="font08x grayTex">{{x.summary}}</span>
                                </div>
                            </a>
                        </servicelist>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var app = angular.module('ServiceApp', []);
    app.controller('ServiceCtrl', function ($scope, $http) {
        // 服务列表
        $scope.IsMember = false;
        $http({
            method: 'post',
            url: '/ServiceList/getService',
        }).success(function (req) {
            if (req.Code == "1") {
                // 服务列表
                var serviceList = $scope.serviceList = [];
                $scope.addServiceList = function () {
                    for (var i in req.Data) {
                        serviceList.push({
                            serviceCode: req.Data[i].ServiceCode, // 服务信息表.服务编号
                            listImageURL: req.Data[i].ListImageURL, // 服务信息表.一览图片URL
                            name: req.Data[i].Name, // 服务信息表.服务名称
                            summary: req.Data[i].Summary // 服务信息表.服务简介
                        });
                    }
                };
                $scope.addServiceList();
            } else {
                swal(req.Message);
            }
        }).error(function () {
            swal(req.Code);
            swal("网络繁忙,请稍后再试！");
        });
    });
</script>